include _mixins
block footer

    footer#footer.footer
        .container
            .footer__inner
                nav.footer__nav
                    .footer__nav-block.nav-block.nav-catalog
                        .nav-block__head
                            .nav-block__title Каталог
                        ul.nav-block__list
                            li.nav-list__item
                                a(href='javascript:void(0)').link.link--white Новинки
                            li.nav-list__item
                                a(href='javascript:void(0)').link.link--white Террасная доска из ДПК
                            li.nav-list__item
                                a(href='javascript:void(0)').link.link--white Ступени из ДПК
                            li.nav-list__item
                                a(href='javascript:void(0)').link.link--white Заборы и ограждения
                            li.nav-list__item
                                a(href='javascript:void(0)').link.link--white Сайдинг ДПК
                            li.nav-list__item
                                a(href='javascript:void(0)').link.link--white Регулируемые опоры
                            li.nav-list__item
                                a(href='javascript:void(0)').link.link--white Комплектующие
                            li.nav-list__item
                                a(href='javascript:void(0)').link.link--white Искусственный ротанг
                            li.nav-list__item
                                a(href='javascript:void(0)').link.link--white Полимерная лоза
                            li.nav-list__item
                                a(href='javascript:void(0)').link.link--white Террасная доска из дерева
                    .footer__nav-block.nav-block.nav-services
                        .nav-block__head

                            .nav-block__title Услуги
                        ul.nav-block__list
                            li.nav-list__item
                                a(href='javascript:void(0)').link.link--white  Замер и расчёты
                            li.nav-list__item
                                a(href='javascript:void(0)').link.link--white  Дизайн и проектирование
                            li.nav-list__item
                                a(href='javascript:void(0)').link.link--white  Строительство террасы, веранды
                            li.nav-list__item
                                a(href='javascript:void(0)').link.link--white  Сезонное хранение материалов
                            li.nav-list__item
                                a(href='javascript:void(0)').link.link--white  Гарантийное обслуживание
                            li.nav-list__item
                                a(href='javascript:void(0)').link.link--white  Доставка
                            li.nav-list__item
                                a(href='javascript:void(0)').link.link--white  Производство террасной доски
                            li.nav-list__item
                                a(href='javascript:void(0)').link.link--white  Монтаж террасной доски

                    .footer__nav-block.nav-block.nav-projects
                        .nav-block__head
                            .nav-block__title Проекты
                        ul.nav-block__list
                            li.nav-list__item
                                a(href='javascript:void(0)') Открытые террасы
                            li.nav-list__item
                                a(href='javascript:void(0)').link.link--white Патио
                            li.nav-list__item
                                a(href='javascript:void(0)').link.link--white Телепроекты и знаменитости
                            li.nav-list__item
                                a(href='javascript:void(0)').link.link--white Террасы на крыше дома
                            li.nav-list__item
                                a(href='javascript:void(0)').link.link--white Дорожки
                            li.nav-list__item
                                a(href='javascript:void(0)') Заборы и ограждения из ДПК
                            li.nav-list__item
                                a(href='javascript:void(0)').link.link--white Кафе и рестораны
                            li.nav-list__item
                                a(href='javascript:void(0)').link.link--white Набережные
                            li.nav-list__item
                                a(href='javascript:void(0)').link.link--white Отделка бассейнов
                            li.nav-list__item
                                a(href='javascript:void(0)').link.link--white Пирсы и причалы
                            li.nav-list__item
                                a(href='javascript:void(0)').link.link--white Фасады из ДПК
                            li.nav-list__item
                                a(href='javascript:void(0)').link.link--white Сайдинг
                            li.nav-list__item
                                a(href='javascript:void(0)').link.link--white Садовый паркет
                            li.nav-list__item
                                a(href='javascript:void(0)').link.link--white Парковая мебель
                    .footer__nav-block.nav-block.nav-info
                        .nav-block__head
                            .nav-block__title Информация
                        ul.nav-block__list
                            li.nav-list__item
                                a(href='news.html').link.link--white Новости
                            li.nav-list__item
                                a(href='articles.html').link.link--white Статьи
                            li.nav-list__item
                                a(href='faq.html').link.link--white Вопрос-ответ
                            li.nav-list__item
                                a(href='instructions.html').link.link--white Инструкции
                            li.nav-list__item
                                a(href='engineering.html').link.link--white Инжиниринг
                            li.nav-list__item
                                a(href='site-map.html').link.link--white Карта сайта
                            li.nav-list__item
                                a(href='payment.html').link.link--white Оплата
                            li.nav-list__item
                                a(href='prices.html').link.link--white Цены
                            li.nav-list__item
                                a(href='about.html').link.link--white О компании
                            li.nav-list__item
                                a(href='partnership.html').link.link--white Сотрудничество
                            li.nav-list__item
                                a(href='vacancies.html').link.link--white Вакансии
                            li.nav-list__item
                                a(href='requisites.html').link.link--white Реквизиты

                .footer__contacts
                    .contacts-title Контакты
                    .contacts-items
                        a(href="tel:74951095209").footer__contact.phone-mos
                            .image-wrapper
                                +img('icon_phone.svg')
                            .text
                                p.bold +7 495 109-52-09
                                p Москва
                        a(href="tel:88005055209").footer__contact.phone-rus
                            .image-wrapper
                                +img('icon_phone.svg')
                            .text
                                p.bold 8 800 505-52-09
                                p Бесплатно по России

                        a(href="mailto:salon_sweet_home@mail.ru").footer__contact.email
                            .image-wrapper
                                +img('icon_email.svg')
                            .text
                                p.bold market@polywood.ru
                        .footer__contact.address
                            .image-wrapper
                                +img('icon_pin.svg')
                            .text
                                p 123592, Россия, г. Москва, ул. Кулакова, д. 20, строение 1А, эт 5, пом. XVII, ком. 37,74,75,76
                        .footer__contact.socials
                            noIndex
                                .social__items
                                    a(href="https://dzen.ru/polywood" rel="nofollow" target="_blank").social-item
                                        +img('icon_social-dzen.svg')
                                    a(href="https://t.me/polywood_ru" rel="nofollow" target="_blank").social-item
                                        +img('icon_social-tg.svg')
                                    a(href="https://vk.com/polywood" rel="nofollow" target="_blank").social-item
                                        +img('icon_social-vk.svg')
                                    a(href="https://www.youtube.com/channel/UCvGMJBY7VhvbFlie6LXZFFw" rel="nofollow" target="_blank").social-item
                                        +img('icon_social-youtube.svg')
                                    a(href="https://ok.ru/group/53751182065754" rel="nofollow" target="_blank").social-item
                                        +img('icon_social-ok.svg')

                .footer__payment
                    .payment-systems
                        .image-wrapper
                            +img('icon_payment-mir.svg')
                        .image-wrapper
                            +img('icon_payment-visa.svg')
                        .image-wrapper
                            +img('icon_payment-master.svg')
                    .payment-types
                        .payment-type.transfer
                            .image-wrapper
                                +img('icon_money-transfer.svg')
                            span Банковский перевод
                        .payment-type.cash
                            .image-wrapper
                                +img('icon_money-cash.svg')
                            span Оплата наличными


                .footer__bottom
                    p.footer__rights © Поливуд. Все права защищены. 2007 - 2024 г.
                    p Сайт не является публичной офертой

                .footer__devs
                    a(href="https://di-project.studio/") Разработка сайта:
                    span Di-Project.Studio
