include _mixins
block header

    header#header.header
        .container
            .header__inner

                .header__content

                    a(href="/").header__logo
                        +img('logo.svg')
                        .header__slogan
                            p Производитель террасной доски и сайдинга с 2017 года!

                    .header__location
                        +img('icon_pin.svg')
                        span Санкт-Петербург


                    .header__service
                        span производство
                        span строительство
                        span проектирование
                    .header__contacts
                        a(href="tel:74951095209").header-contact.mos +7 495 109-52-09
                        a(href="tel:88005055209").header-contact.rus 8 800 505-52-09
                        .header-contact.order-call(data-src="#popup-order-call", data-fancybox) Заказать звонок
                        .header-contact.dealers
                            include ../assets/images/icon_user.svg
                            span Для дилеров
                    a(href='cart.html').header__cart
                        .cart-wrapper
                            include ../assets/images/icon_cart.svg
                        .cart-count
                            span 1


                .header__bar

                    .header__bar-item#burger
                        a(href='javascript:void(0)')
                            include ../assets/images/icon_menu.svg
                            span Меню
                    .header__bar-item#search
                        a(href='javascript:void(0)')
                            include ../assets/images/icon_search.svg
                            span Поиск
                    .header__bar-item
                        a(href="/")
                            include ../assets/images/icon_home.svg
                            span Главная
                    .header__bar-item
                        a(href="cart.html")
                            include ../assets/images/icon_cart.svg
                            span Корзина

                .common-wrapper
                    .wrapper
                        .header__bg
                        .header__menu#menu
                            .header__menu-wrapper.header-wrapper
                                .header__menu-actions
                                    .header__menu-close.menu-action#menu-close
                                        include ../assets/images/icon_close.svg
                                nav.header__menu-nav.menu-nav__catalog
                                    ul.menu-nav__list
                                        li.list-item.catalog(data-category="catalog")
                                            a(href='javascript:void(0)').link.link--black
                                                include ../assets/images/icon_menu.svg
                                                include ../assets/images/icon_close.svg
                                                span Каталог
                                        li.list-item.all-products(data-category="terraces")
                                            a(href='terraces.html').link.link--black
                                                span Террасы под ключ
                                        li.list-item(data-category="services")
                                            a(href='services.html').link.link--black
                                                span Услуги
                                        li.list-item(data-category="projects")
                                            a(href='projects.html').link.link--black
                                                span Наши проекты
                                        li.list-item(data-category="info")
                                            a(href='info.html').link.link--black
                                                span Информация
                                        li.list-item(data-category="engineering")
                                            a(href='engineering.html').link.link--black
                                                span Инжиниринг
                                        li.list-item(data-category="about")
                                            a(href='about.html').link.link--black
                                                span О нас
                                        li.list-item.contacts(data-category="contacts")
                                            a(href='contacts.html').link.link--black
                                                span Контакты


                        //.header__catalog-secondary#catalog
                        //    .header__catalog-wrapper.header-wrapper
                        //        .header__menu-title(data-category="all-products") Все товары
                        //
                        //        .header__menu-actions
                        //            .header__menu-back.menu-action#catalog-back
                        //                include ../assets/images/icon_chevron-right.svg
                        //            .header__menu-close.menu-action#catalog-close.btn.btn--mint-bg
                        //                include ../assets/images/icon_close.svg
                        //        nav.header__menu-nav.menu-nav__catalog
                        //            ul.menu-nav__list
                        //                li.list-item(data-category="bedroom")
                        //                    a(href='javascript:void(0)').link.link--black
                        //                        +img('icon_bed.svg')
                        //                        span Спальни
                        //                li.list-item(data-category="kids")
                        //                    a(href='javascript:void(0)').link.link--black
                        //                        +img('icon_baby.svg')
                        //                        span Детские
                        //                li.list-item(data-category="kitchen")
                        //                    a(href='javascript:void(0)').link.link--black
                        //                        +img('icon_kitchen.svg')
                        //                        span Кухни
                        //                li.list-item(data-category="living-room")
                        //                    a(href='javascript:void(0)').link.link--black
                        //                        +img('icon_living-room.svg')
                        //                        span Гостиные
                        //                li.list-item(data-category="teen-room")
                        //                    a(href='javascript:void(0)').link.link--black
                        //                        +img('icon_teenager.svg')
                        //                        span Подростковые
                        //                li.list-item(data-category="entrance-hall")
                        //                    a(href='javascript:void(0)').link.link--black
                        //                        +img('icon_shoe.svg')
                        //                        span Прихожие
                        //                li.list-item(data-category="mattresses")
                        //                    a(href='javascript:void(0)').link.link--black
                        //                        +img('icon_mattress.svg')
                        //                        span Матрасы
                        //                li.list-item(data-category="sofa")
                        //                    a(href='javascript:void(0)').link.link--black
                        //                        +img('icon_sofa.svg')
                        //                        span Мягкая мебель
                        //                li.list-item.sale(data-category="sale")
                        //                    a(href='javascript:void(0)').link.link--black
                        //                        +img('icon_fire.svg')
                        //                        span Распродажа
                        //                li.list-item(data-category="wall-panels")
                        //                    a(href='javascript:void(0)').link.link--black
                        //                        +img('icon_brick-wall.svg')
                        //                        span Стеновые панели
                        //                li.list-item(data-category="collections")
                        //                    a(href='javascript:void(0)').link.link--black
                        //                        +img('icon_collections.svg')
                        //                        span Коллекции
                        //
                        //.header__category#category
                        //    .header__category-wrapper.header-wrapper
                        //        .header__menu-title(data-category="collections") Коллекции
                        //        .header__menu-title(data-category="kitchen") Кухни
                        //        .header__menu-title(data-category="bedroom") Спальни
                        //        .header__menu-title(data-category="living-room") Гостиные
                        //        .header__menu-title(data-category="sofa") Мягкая мебель
                        //        .header__menu-title(data-category="entrance-hall") Прихожие
                        //        .header__menu-title(data-category="kids") Детские
                        //        .header__menu-title(data-category="mattresses") Матрасы
                        //        .header__menu-title(data-category="teen-room") Подростковые
                        //        .header__menu-title(data-category="wall-panels") Стеновые панели
                        //
                        //        .header__menu-actions
                        //            .header__menu-back.menu-action#category-back
                        //                include ../assets/images/icon_chevron-right.svg
                        //            .header__menu-close.menu-action#category-close.btn.btn--mint-bg
                        //                //include ../assets/images/icon_close.svg
                        //        nav.header__menu-nav.menu-nav__catalog
                        //            ul.menu-nav__list(data-category="bedroom")
                        //                li.list-item
                        //                    a(href='javascript:void(0)').link.link--black
                        //                        +img('icon_bed.svg')
                        //                        span Подкатегория спальни
                        //                    nav
                        //                        ul.item-subcategories
                        //                            li.subcategory
                        //                                a(href='javascript:void(0)').link.link--black Двуспальные кровати
                        //                            li.subcategory
                        //                                a(href='javascript:void(0)').link.link--black Кровати с подъёмным механизмом
                        //                            li.subcategory
                        //                                a(href='javascript:void(0)').link.link--black Мягкие кровати
                        //                            li.subcategory
                        //                                a(href='javascript:void(0)').link.link--black Полуторные кровати
                        //                            li.subcategory
                        //                                a(href='javascript:void(0)').link.link--black Односпальные кровати
                        //
                        //                li.list-item
                        //                    a(href='javascript:void(0)').link.link--black
                        //                        +img('icon_bed.svg')
                        //                        span Подкатегория
                        //                li.list-item
                        //                    a(href='javascript:void(0)').link.link--black
                        //                        +img('icon_bed.svg')
                        //                        span Подкатегория
                        //
                        //                li.list-item
                        //                    a(href='javascript:void(0)').link.link--black
                        //                        +img('icon_bed.svg')
                        //                        span Подкатегория
                        //                li.list-item
                        //                    a(href='javascript:void(0)').link.link--black
                        //                        +img('icon_bed.svg')
                        //                        span Подкатегория
                        //                li.list-item
                        //                    a(href='javascript:void(0)').link.link--black
                        //                        +img('icon_bed.svg')
                        //                        span Подкатегория
                        //
                        //                    nav
                        //                        ul.item-subcategories
                        //                            li.subcategory
                        //                                a(href='javascript:void(0)').link.link--black Двуспальные кровати
                        //                            li.subcategory
                        //                                a(href='javascript:void(0)').link.link--black Кровати с подъёмным механизмом
                        //                            li.subcategory
                        //                                a(href='javascript:void(0)').link.link--black Мягкие кровати
                        //                            li.subcategory
                        //                                a(href='javascript:void(0)').link.link--black Полуторные кровати
                        //                            li.subcategory
                        //                                a(href='javascript:void(0)').link.link--black Односпальные кровати
                        //
                        //
                        //                li.list-item
                        //                    a(href='javascript:void(0)').link.link--black
                        //                        +img('icon_bed.svg')
                        //                        span Подкатегория
                        //
                        //                    nav
                        //                        ul.item-subcategories
                        //                            li.subcategory
                        //                                a(href='javascript:void(0)').link.link--black Двуспальные кровати
                        //                            li.subcategory
                        //                                a(href='javascript:void(0)').link.link--black Кровати с подъёмным механизмом
                        //                            li.subcategory
                        //                                a(href='javascript:void(0)').link.link--black Мягкие кровати
                        //                            li.subcategory
                        //                                a(href='javascript:void(0)').link.link--black Полуторные кровати
                        //                            li.subcategory
                        //                                a(href='javascript:void(0)').link.link--black Односпальные кровати
                        //
                        //                li.list-item
                        //                    a(href='javascript:void(0)').link.link--black
                        //                        +img('icon_bed.svg')
                        //                        span Подкатегория
                        //                li.list-item
                        //                    a(href='javascript:void(0)').link.link--black
                        //                        +img('icon_bed.svg')
                        //                        span Подкатегория
                        //
                        //            ul.menu-nav__list(data-category="kids")
                        //                li.list-item
                        //                    a(href='javascript:void(0)').link.link--black
                        //                        +img('icon_bed.svg')
                        //                        span Подкатегория для Детские
                        //                li.list-item
                        //                    a(href='javascript:void(0)').link.link--black
                        //                        +img('icon_bed.svg')
                        //                        span Подкатегория для Детские
                        //                    nav
                        //                        ul.item-subcategories
                        //                            li.subcategory
                        //                                a(href='javascript:void(0)').link.link--black Двуспальные кровати
                        //                            li.subcategory
                        //                                a(href='javascript:void(0)').link.link--black Кровати с подъёмным механизмом
                        //                            li.subcategory
                        //                                a(href='javascript:void(0)').link.link--black Мягкие кровати
                        //                            li.subcategory
                        //                                a(href='javascript:void(0)').link.link--black Полуторные кровати
                        //                            li.subcategory
                        //                                a(href='javascript:void(0)').link.link--black Односпальные кровати
                        //                li.list-item
                        //                    a(href='javascript:void(0)').link.link--black
                        //                        +img('icon_bed.svg')
                        //                        span Подкатегория для Детские
                        //                li.list-item
                        //                    a(href='javascript:void(0)').link.link--black
                        //                        +img('icon_bed.svg')
                        //                        span Подкатегория для Детские
                        //            ul.menu-nav__list(data-category="kitchen")
                        //                li.list-item
                        //                    a(href='javascript:void(0)').link.link--black
                        //                        +img('icon_bed.svg')
                        //                        span Подкатегория
                        //            ul.menu-nav__list(data-category="living-room")
                        //                li.list-item
                        //                    a(href='javascript:void(0)').link.link--black
                        //                        +img('icon_bed.svg')
                        //                        span Подкатегория Гостиные
                        //            ul.menu-nav__list(data-category="teen-room")
                        //                li.list-item
                        //                    a(href='javascript:void(0)').link.link--black
                        //                        +img('icon_bed.svg')
                        //                        span Подкатегория Подростковые
                        //            ul.menu-nav__list(data-category="entrance-hall")
                        //                li.list-item
                        //                    a(href='javascript:void(0)').link.link--black
                        //                        +img('icon_bed.svg')
                        //                        span Подкатегория Прихожие
                        //            ul.menu-nav__list(data-category="mattresses")
                        //                li.list-item
                        //                    a(href='javascript:void(0)').link.link--black
                        //                        +img('icon_bed.svg')
                        //                        span Подкатегория Матрасы
                        //            ul.menu-nav__list(data-category="sofa")
                        //                li.list-item
                        //                    a(href='javascript:void(0)').link.link--black
                        //                        +img('icon_bed.svg')
                        //                        span Подкатегория Мягкая мебель
                        //            ul.menu-nav__list(data-category="sale")
                        //                li.list-item
                        //                    a(href='javascript:void(0)').link.link--black
                        //                        +img('icon_bed.svg')
                        //                        span Подкатегория Распродажа
                        //            ul.menu-nav__list(data-category="wall-panels")
                        //                li.list-item
                        //                    a(href='javascript:void(0)').link.link--black
                        //                        +img('icon_bed.svg')
                        //                        span Подкатегория Стеновые панели
                        //            ul.menu-nav__list(data-category="collections")
                        //                li.list-item
                        //                    a(href='javascript:void(0)').link.link--black
                        //                        +img('icon_bed.svg')
                        //                        span Подкатегория Коллекции
                        //                li.list-item
                        //                    a(href='javascript:void(0)').link.link--black
                        //                        +img('icon_bed.svg')
                        //                        span Подкатегория Коллекции

                .header__search
                    .header__search-input
                        input(type="search" placeholder="Поиск")
                        include ../assets/images/icon_search.svg
