include _mixins
block header

    header#header.header
        .container
            .header__inner

                .header__content

                    a(href="/").header__logo
                        +img('logo.svg')
                        .header__slogan
                            p Производитель террасной доски и сайдинга с 2017 года!

                    .header__location
                        +img('icon_pin.svg')
                        span Санкт-Петербург


                    .header__service
                        span производство
                        span строительство
                        span проектирование
                    .header__contacts
                        a(href="tel:74951095209").header-contact.mos +7 495 109-52-09
                        a(href="tel:88005055209").header-contact.rus 8 800 505-52-09
                        .header-contact.order-call(data-src="#popup-order-call", data-fancybox) Заказать звонок
                        a(href='javascript:void(0)').header-contact.dealers
                            include ../assets/images/icon_user.svg
                            span Для дилеров
                    a(href='cart.html').header__cart
                        .cart-wrapper
                            include ../assets/images/icon_cart.svg
                        .cart-count
                            span 1


                .header__bar

                    .header__bar-item#burger
                        a(href='javascript:void(0)')
                            +img('icon_menu.svg')
                            span Меню
                    .header__bar-item#search
                        a(href='javascript:void(0)')
                            +img('icon_search.svg')
                            span Поиск
                    .header__bar-item
                        a(href="/")
                            +img('icon_home.svg')
                            span Главная
                    .header__bar-item
                        a(href="cart.html")
                            +img('icon_cart.svg')
                            span Корзина

                .common-wrapper
                    .wrapper
                        .header__bg
                        .header__menu#menu
                            .header__menu-wrapper.header-wrapper
                                .header__menu-actions
                                    .header__menu-close.menu-action#menu-close
                                        include ../assets/images/icon_close.svg
                                nav.header__menu-nav.menu-nav__catalog.main-catalog
                                    ul.menu-nav__list
                                        li.list-item.catalog(data-category="catalog")
                                            a(href='javascript:void(0)').link.link--black
                                                include ../assets/images/icon_menu.svg
                                                include ../assets/images/icon_close.svg
                                                span Каталог
                                        li.list-item(data-category="terraces")
                                            a(href='terraces.html').link.link--black
                                                span Террасы под ключ
                                        li.list-item(data-category="services")
                                            a(href='services.html').link.link--black
                                                span Услуги
                                        li.list-item(data-category="projects")
                                            a(href='projects.html').link.link--black
                                                span Наши проекты
                                        li.list-item(data-category="info")
                                            a(href='info.html').link.link--black
                                                span Информация
                                        li.list-item(data-category="engineering")
                                            a(href='engineering.html').link.link--black
                                                span Инжиниринг
                                        li.list-item(data-category="about")
                                            a(href='about.html').link.link--black
                                                span О нас
                                        li.list-item.contacts(data-category="contacts")
                                            a(href='contacts.html').link.link--black
                                                span Контакты

                        .header__catalog#catalog
                            .header__catalog-wrapper.header-wrapper
                                .header__menu-title(data-category="catalog") Каталог

                                .header__menu-actions
                                    .header__menu-back.menu-action#catalog-back
                                        include ../assets/images/icon_arrow-left-menu.svg
                                        span Назад
                                    .header__menu-close.menu-action#catalog-close.btn.btn--mint-bg
                                        include ../assets/images/icon_close.svg
                                nav.header__menu-nav.menu-nav__catalog
                                    ul.menu-nav__list.catalog-list(data-category="catalog")
                                        li.list-item(data-category="timber")
                                            a(href='terraces-detail.html').link.link--black
                                                +img('icon_timber.svg')
                                                span Террасная доска из ДПК
                                        li.list-item(data-category="fence")
                                            a(href='javascript:void(0)').link.link--black
                                                +img('icon_fence.svg')
                                                span Заборы и ограждения
                                        li.list-item(data-category="ladder")
                                            a(href='javascript:void(0)').link.link--black
                                                +img('icon_ladder.svg')
                                                span Ступени из ДПК
                                        li.list-item(data-category="siding")
                                            a(href='javascript:void(0)').link.link--black
                                                +img('icon_siding.svg')
                                                span Сайдинг ДПК
                                        li.list-item(data-category="pillar")
                                            a(href='javascript:void(0)').link.link--black
                                                +img('icon_pillar.svg')
                                                span Регулируемые опоры
                                        li.list-item(data-category="shed")
                                            a(href='javascript:void(0)').link.link--black
                                                +img('icon_shed.svg')
                                                span Навесы, перголы, беседки
                                        li.list-item(data-category="rattan-furniture")
                                            a(href='javascript:void(0)').link.link--black
                                                +img('icon_rattan-furniture.svg')
                                                span Искусственный ротанг
                                        li.list-item(data-category="garden-bed")
                                            a(href='javascript:void(0)').link.link--black
                                                +img('icon_garden-bed.svg')
                                                span Грядки из ДПК
                                        li.list-item.sale(data-category="components")
                                            a(href='javascript:void(0)').link.link--black
                                                +img('icon_components.svg')
                                                span Комплектующие
                                        li.list-item(data-category="tree")
                                            a(href='javascript:void(0)').link.link--black
                                                +img('icon_tree.svg')
                                                span Террасная доска из дерева
                                        li.list-item(data-category="weave")
                                            a(href='javascript:void(0)').link.link--black
                                                +img('icon_weave.svg')
                                                span Полимерная лоза
                                        li.list-item(data-category="sale")
                                            a(href='javascript:void(0)').link.link--black
                                                +img('icon_discount.svg')
                                                span Распродажа
                                        li.list-item(data-category="novelties")
                                            a(href='javascript:void(0)').link.link--black
                                                +img('icon_star.svg')
                                                span Новинки
                                        li.list-item(data-category="promos")
                                            a(href='javascript:void(0)').link.link--black
                                                +img('icon_fire.svg')
                                                span Акции



                        .header__submenu#submenu
                            .header__submenu-wrapper.header-wrapper
                                .header__menu-title(data-category="terraces") Террасы под ключ
                                .header__menu-title(data-category="services") Услуги
                                .header__menu-title(data-category="projects") Наши проекты
                                .header__menu-title(data-category="info") Информация
                                .header__menu-title(data-category="engineering") Инжиниринг
                                .header__menu-title(data-category="about") О нас


                                .header__menu-actions
                                    .header__menu-back.menu-action#submenu-back
                                        include ../assets/images/icon_arrow-left-menu.svg
                                        span Назад
                                    .header__menu-close.menu-action#submenu-close.btn.btn--mint-bg
                                        include ../assets/images/icon_close.svg
                                nav.header__menu-nav.menu-nav__catalog
                                    ul.menu-nav__list.submenu-list(data-category="terraces")
                                        li.list-item
                                            a(href='javascript:void(0)').link.link--black
                                                +img('icon_timber.svg')
                                                span Для дома и дачи
                                        li.list-item
                                            a(href='javascript:void(0)').link.link--black
                                                +img('icon_timber.svg')
                                                span Для ресторана и кафе
                                        li.list-item
                                            a(href='javascript:void(0)').link.link--black
                                                +img('icon_timber.svg')
                                                span На кровле и балконе
                                        li.list-item
                                            a(href='javascript:void(0)').link.link--black
                                                +img('icon_timber.svg')
                                                span Пирсы и причалы
                                        li.list-item
                                            a(href='javascript:void(0)').link.link--black
                                                +img('icon_timber.svg')
                                                span У бассейна
                                    ul.menu-nav__list.submenu-list(data-category="services")
                                        li.list-item
                                            a(href='service-detail.html').link.link--black
                                                +img('icon_service-measure.svg')
                                                span Замер и расчёты
                                        li.list-item
                                            a(href='service-detail.html').link.link--black
                                                +img('icon_service-design.svg')
                                                span Дизайн и проектирование
                                        li.list-item
                                            a(href='service-detail.html').link.link--black
                                                +img('icon_service-brick.svg')
                                                span Строительство террасы, веранды
                                        li.list-item
                                            a(href='service-detail.html').link.link--black
                                                +img('icon_service-storage.svg')
                                                span Сезонное хранение материалов
                                        li.list-item
                                            a(href='service-detail.html').link.link--black
                                                +img('icon_service-guarantee.svg')
                                                span Гарантийное обслуживание
                                        li.list-item
                                            a(href='service-detail.html').link.link--black
                                                +img('icon_service-delivery.svg')
                                                span Доставка
                                        li.list-item
                                            a(href='service-detail.html').link.link--black
                                                +img('icon_service-production.svg')
                                                span Производство террасной доски
                                        li.list-item
                                            a(href='service-detail.html').link.link--black
                                                +img('icon_service-assembly.svg')
                                                span Монтаж террасной доски
                                    ul.menu-nav__list.submenu-list(data-category="projects")
                                        li.list-item
                                            a(href='projects-detail.html').link.link--black
                                                +img('icon_timber.svg')
                                                span Открытые террасы
                                        li.list-item
                                            a(href='projects-detail.html').link.link--black
                                                +img('icon_timber.svg')
                                                span Патио
                                        li.list-item
                                            a(href='projects-detail.html').link.link--black
                                                +img('icon_timber.svg')
                                                span Телепроекты и знаменитости
                                        li.list-item
                                            a(href='projects-detail.html').link.link--black
                                                +img('icon_timber.svg')
                                                span Террасы на крыше дома
                                        li.list-item
                                            a(href='projects-detail.html').link.link--black
                                                +img('icon_timber.svg')
                                                span Дорожки
                                        li.list-item
                                            a(href='projects-detail.html').link.link--black
                                                +img('icon_timber.svg')
                                                span Заборы и ограждения из ДПК
                                        li.list-item
                                            a(href='projects-detail.html').link.link--black
                                                +img('icon_timber.svg')
                                                span Кафе и рестораны
                                    ul.menu-nav__list.submenu-list(data-category="info")
                                        li.list-item
                                            a(href='promos.html').link.link--black
                                                +img('icon_timber.svg')
                                                span Акции
                                        li.list-item
                                            a(href='news.html').link.link--black
                                                +img('icon_timber.svg')
                                                span Новости
                                        li.list-item
                                            a(href='articles.html').link.link--black
                                                +img('icon_timber.svg')
                                                span Статьи
                                        li.list-item
                                            a(href='faq.html').link.link--black
                                                +img('icon_timber.svg')
                                                span Вопрос-ответ
                                        li.list-item
                                            a(href='instructions.html').link.link--black
                                                +img('icon_timber.svg')
                                                span Инструкции
                                        li.list-item
                                            a(href='payment.html').link.link--black
                                                +img('icon_timber.svg')
                                                span Оплата
                                    ul.menu-nav__list.submenu-list(data-category="engineering")
                                        li.list-item
                                            a(href='javascript:void(0)').link.link--black
                                                +img('icon_eng-1.svg')
                                                span Технологическое сопровождение
                                        li.list-item
                                            a(href='javascript:void(0)').link.link--black
                                                +img('icon_eng-2.svg')
                                                span Разбор рекламаций
                                        li.list-item
                                            a(href='javascript:void(0)').link.link--black
                                                +img('icon_eng-3.svg')
                                                span Инновационные технологии
                                        li.list-item
                                            a(href='javascript:void(0)').link.link--black
                                                +img('icon_eng-4.svg')
                                                span Оборудование для производства ДПК
                                        li.list-item
                                            a(href='javascript:void(0)').link.link--black
                                                +img('icon_eng-5.svg')
                                                span Сырьё для производства ДПК
                                        li.list-item
                                            a(href='javascript:void(0)').link.link--black
                                                +img('icon_eng-6.svg')
                                                span Коммерческий консалтинг
                                    ul.menu-nav__list.submenu-list(data-category="about")
                                        li.list-item
                                            a(href='docs.html').link.link--black
                                                +img('icon_timber.svg')
                                                span Документы
                                        li.list-item
                                            a(href='products-benefits.html').link.link--black
                                                +img('icon_timber.svg')
                                                span Преимущества
                                        li.list-item
                                            a(href='licenses.html').link.link--black
                                                +img('icon_timber.svg')
                                                span Лицензии
                                        li.list-item
                                            a(href='partners.html').link.link--black
                                                +img('icon_timber.svg')
                                                span Партнёры
                                        li.list-item
                                            a(href='clients.html').link.link--black
                                                +img('icon_timber.svg')
                                                span Клиенты
                                        li.list-item
                                            a(href='reviews.html').link.link--black
                                                +img('icon_timber.svg')
                                                span Отзывы
                                        li.list-item
                                            a(href='partnership.html').link.link--black
                                                +img('icon_timber.svg')
                                                span Сотрудничество
                                        li.list-item
                                            a(href='vacancies.html').link.link--black
                                                +img('icon_timber.svg')
                                                span Вакансии
                                        li.list-item
                                            a(href='requisites.html').link.link--black
                                                +img('icon_timber.svg')
                                                span Реквизиты
                        .header__category#category
                            .header__category-wrapper.header-wrapper
                                .header__menu-title(data-category="timber")
                                    a(href='terraces-detail.html') Террасная доска из ДПК
                                .header__menu-title(data-category="fence")
                                    a(href='terraces-detail.html') Заборы и ограждения
                                .header__menu-title(data-category="ladder")
                                    a(href='terraces-detail.html') Ступени из ДПК
                                .header__menu-title(data-category="siding")
                                    a(href='terraces-detail.html') Сайдинг ДПК
                                .header__menu-title(data-category="pillar")
                                    a(href='terraces-detail.html') Регулируемые опоры
                                .header__menu-title(data-category="shed")
                                    a(href='terraces-detail.html') Навесы, перголы, беседки
                                .header__menu-title(data-category="rattan-furniture")
                                    a(href='terraces-detail.html') Искусственный ротанг
                                .header__menu-title(data-category="garden-bed")
                                    a(href='terraces-detail.html') Грядки из ДПК
                                .header__menu-title(data-category="components")
                                    a(href='terraces-detail.html') Комплектующие
                                .header__menu-title(data-category="tree")
                                    a(href='terraces-detail.html') Террасная доска из дерева
                                .header__menu-title(data-category="weave")
                                    a(href='terraces-detail.html') Полимерная лоза

                                .header__menu-actions
                                    .header__menu-back.menu-action#category-back
                                        include ../assets/images/icon_arrow-left-menu.svg
                                        span Назад
                                    .header__menu-close.menu-action#category-close
                                        include ../assets/images/icon_close.svg
                                nav.header__menu-nav.menu-nav__catalog
                                    ul.menu-nav__list.category-list(data-category="timber")
                                        li.list-item
                                            a(href='javascript:void(0)').link.link--black
                                                span Полимерная доска Polywood
                                        li.list-item
                                            a(href='javascript:void(0)').link.link--black
                                                span Доска террасная полимерная MEGAWOOD и EASYDECK
                                        li.list-item
                                            a(href='javascript:void(0)').link.link--black
                                                span Доска для террасы TWINSON
                                    ul.menu-nav__list.category-list(data-category="fence")
                                        li.list-item
                                            a(href='javascript:void(0)').link.link--black
                                                span Подкатегория для Детские
                                        li.list-item
                                            a(href='javascript:void(0)').link.link--black
                                                span Подкатегория для Детские
                                        li.list-item
                                            a(href='javascript:void(0)').link.link--black
                                                span Подкатегория для Детские
                                        li.list-item
                                            a(href='javascript:void(0)').link.link--black
                                                span Подкатегория для Детские
                                    ul.menu-nav__list.category-list(data-category="ladder")
                                        li.list-item
                                            a(href='javascript:void(0)').link.link--black
                                                span Подкатегория
                                    ul.menu-nav__list.category-list(data-category="siding")
                                        li.list-item
                                            a(href='javascript:void(0)').link.link--black
                                                span Подкатегория
                                    ul.menu-nav__list.category-list(data-category="pillar")
                                        li.list-item
                                            a(href='javascript:void(0)').link.link--black
                                                span Подкатегория
                                    ul.menu-nav__list.category-list(data-category="shed")
                                        li.list-item
                                            a(href='javascript:void(0)').link.link--black
                                                span Подкатегория Прихожие
                                    ul.menu-nav__list.category-list(data-category="rattan-furniture")
                                        li.list-item
                                            a(href='javascript:void(0)').link.link--black
                                                span Подкатегория
                                    ul.menu-nav__list.category-list(data-category="garden-bed")
                                        li.list-item
                                            a(href='javascript:void(0)').link.link--black
                                                span Подкатегория
                                    ul.menu-nav__list.category-list(data-category="components")
                                        li.list-item
                                            a(href='javascript:void(0)').link.link--black
                                                span Подкатегория
                                    ul.menu-nav__list.category-list(data-category="tree")
                                        li.list-item
                                            a(href='javascript:void(0)').link.link--black
                                                span Подкатегория
                                    ul.menu-nav__list.category-list(data-category="weave")
                                        li.list-item
                                            a(href='javascript:void(0)').link.link--black
                                                span Подкатегория

                .header__search-block
                    .search-block__wrapper
                        form
                            input#search-input(type="search" placeholder="Поиск")
                            button(type="submit").search-icon-wrapper
                                include ../assets/images/icon_search.svg