mixin img(link)
    img(src= "assets/images/" + link, alt="")

mixin accordionItem(quest, answ)
    .accordion__item
        .accordion__visible
            .accordion__visible-text
                p= quest
            .accordion__visible-icon
                .plus
                    +img('icon_plus.svg')
                .minus
                    +img('icon_minus.svg')
        .accordion__hidden= answ