:root {
    --color-white: #FFFFFF;
    --color-stroke: #E0E0E0;
    --color-bg: #F4F4F4;
    --color-gray-light: #ECECEC;
    --color-gray-dark: #494949;
    --color-gray: #909090;
    --color-black: #292929;
    --color-green-light: #599A39;
    --color-green-dark: #4E8632;
    --color-yellow-light: #FBCF58;
    --color-yellow-dark: #F9C332;
    --transition-style: all .3s ease;
    --transition-cubic-bezier: all .3s cubic-bezier(.6,0,.4,1)
}

:root {
    --font-family: "Manrope", sans-serif
}

body {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%
}

.displayNone,#bx-soa-basket,.form-check-group,.bx-soa-reference,#bx-soa-main-notifications,.bx-soa-coupon,#bx-soa-orderSave .main-user-consent-request-announce-link,.btn.btn-primary.btn-lg.d-none.d-sm-inline-block,.col-md-5.mb-lg-0.col-12.mb-3.order-md-2.order-1.bx-soa-pp-desc-container,.bx-soa-custom-label,.bx-soa-customer-label {
    display: none
}

#bx-soa-total-mobile {
    display: none !important
}

.cart__inner-content .col-lg-8.col-md-7.bx-soa {
    display: grid;
    gap: 10px
}

.bx-soa-section {
    padding: 20px 10px;
    border-radius: 10px
}

@media(min-width: 1200px) {
    .bx-soa-section {
        padding: 20px
    }
}

.bx-soa-section.bx-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px
}

.bx-soa-section.bx-active .bx-soa-section-title-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.bx-soa-section.bx-active .bx-soa-section-title-container .bx-soa-editstep {
    font-weight: 700;
    line-height: 120%;
    -webkit-transition: var(--transition-style);
    transition: var(--transition-style)
}

.bx-soa-section.bx-active .bx-soa-section-title-container div:not(.bx-soa-section-title) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px
}

.bx-soa-section.bx-active .bx-soa-section-content p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 4px
}

.bx-soa-section.bx-step-completed .bx-soa-section-content .bx-soa-pp-company-selected img {
    display: none
}

.bx-soa-section .alert.alert-danger {
    color: red
}

.has-error .tooltip-inner {
    display: none
}

.has-error input.form-control {
    border-color: red !important
}

.has-error input.form-control::-webkit-input-placeholder {
    color: red !important
}

.has-error input.form-control::-moz-placeholder {
    color: red !important
}

.has-error input.form-control:-ms-input-placeholder {
    color: red !important
}

.has-error input.form-control::-ms-input-placeholder {
    color: red !important
}

.has-error input.form-control::placeholder {
    color: red !important
}

.bx-soa-more-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px
}

@media(max-width: 1199px) {
    .bx-soa-more-btn {
        font-size: 14px
    }
}

.bx-soa-more-btn .btn.btn--mint-border {
    background-color: rgba(0,0,0,0)
}

.bx-soa-more-btn .pull-right {
    margin-left: auto
}

.bx-soa-section-title {
    font-weight: 700;
    line-height: 120%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px
}

@media(min-width: 1200px) {
    .bx-soa-section-title {
        font-size: 20px
    }
}

.bx-soa-section-title .bx-soa-section-title-count {
    position: relative;
    display: inline-block;
    min-width: 20px;
    height: 20px;
    border: 0;
    border-radius: 4px
}

.bx-soa-section-title .bx-soa-section-title-count::after {
    position: absolute;
    top: -1px;
    right: 0;
    left: 0;
    color: var(--color-white);
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    content: "";
    text-align: center
}

.bx-soa-section-title .bx-soa-section-title-count::before {
    position: absolute;
    right: -5px;
    bottom: -2px;
    display: none;
    width: 10px;
    height: 10px;
    content: ""
}

#bx-soa-region .bx_soa_location .col:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px
}

@media(max-width: 1199px) {
    #bx-soa-region .bx_soa_location .col:first-child {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

@media(min-width: 1200px) {
    #bx-soa-region .bx_soa_location .col:first-child .bx-soa-location-input-container {
        width: 50%
    }
}

#bx-soa-region .bx_soa_location .col:first-child .bx-soa-location-input-container[data-property-id-row="6"] .tooltip-inner {
    display: none
}

#bx-soa-region .bx_soa_location .col:first-child .bx-soa-location-input-container[data-property-id-row="6"] .bx-sls {
    border: 1px solid var(--color-stroke);
    border-radius: 8px;
    font: normal 600 14px/160% var(--font-family) !important;
    color: var(--color-black);
    padding: 0;
    width: 100%;
    background-color: var(--color-white)
}

#bx-soa-region .bx_soa_location .col:first-child .bx-soa-location-input-container[data-property-id-row="6"] .bx-sls .dropdown-block {
    border: 0;
    -webkit-box-shadow: unset;
    box-shadow: unset;
    background-color: rgba(0,0,0,0);
    padding: 10px 16px
}

#bx-soa-region .bx_soa_location .col:first-child .bx-soa-location-input-container[data-property-id-row="6"] .bx-sls .bx-ui-sls-pane {
    border-color: var(--color-stroke);
    border-radius: 8px;
    top: 100%;
    bottom: unset
}

#bx-soa-region .bx_soa_location .col:first-child .bx-soa-location-input-container[data-property-id-row="6"] .bx-sls .dropdown-icon {
    display: none
}

#bx-soa-region .bx_soa_location .col:first-child .bx-soa-location-input-container[data-property-id-row="6"] .bx-sls .bx-ui-sls-fake,#bx-soa-region .bx_soa_location .col:first-child .bx-soa-location-input-container[data-property-id-row="6"] .bx-sls .bx-ui-sls-route {
    padding: 0;
    height: 100%;
    font-family: var(--font-family) !important
}

#bx-soa-region .bx_soa_location .col:first-child .bx-soa-location-input-container[data-property-id-row="6"] .bx-sls .bx-ui-sls-clear {
    margin-top: 7px;
    right: 3px;
    z-index: 20
}

#bx-soa-region .bx_soa_location .col:first-child .bx-soa-location-input-container[data-property-id-row="5"] {
    display: none
}

#bx-soa-region .bx-soa-section-title-count::after {
    content: "1"
}

.bx-soa-pp {
    display: grid;
    gap: 10px
}

.bx-soa-section-title-container {
    background: none
}

.bx-soa-pp-company {
    padding: 12px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
    height: 100%
}

@media(max-width: 1199px) {
    .bx-soa-pp-company {
        font-size: 14px
    }
}

.bx-soa-pp-company .bx-soa-pp-company-subTitle,.bx-soa-pp-company .bx-soa-pp-company-smalltitle {
    font-weight: 700;
    line-height: 120%
}

.bx-soa-pp-company .bx-soa-pp-company-desc {
    font-size: 12px;
    line-height: 160%
}

.bx-soa-pp-company .bx-soa-pp-list-description {
    font-weight: 700;
    line-height: 120%;
    margin-top: auto
}

.bx-soa-pp-company.col-6 {
    border-radius: 10px;
    background-color: var(--color-white);
    border: 1px solid rgba(0,0,0,0);
    -webkit-transition: var(--transition-style);
    transition: var(--transition-style)
}

.bx-soa-pp-company.col-6 .bx-soa-pp-delivery-cost {
    display: none !important
}

.bx-soa-pp-desc-container {
    border-radius: 10px;
    background-color: var(--color-white);
    border: 1px solid rgba(0,0,0,0);
    -webkit-transition: var(--transition-style);
    transition: var(--transition-style)
}

@media(min-width: 1200px) {
    #bx-soa-delivery .bx-soa-pp {
        grid-template-columns: repeat(3, calc(33.3333333333% - 10px))
    }
}

#bx-soa-delivery .bx-soa-section-title-count::after {
    content: "2"
}

@media(min-width: 1200px) {
    #bx-soa-paysystem .bx-soa-pp {
        grid-template-columns: repeat(2, calc(50% - 10px))
    }
}

#bx-soa-paysystem .bx-soa-section-title-count::after {
    content: "3"
}

#bx-soa-properties.bx-active .bx-soa-section-content p {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

#bx-soa-properties.bx-active .bx-soa-section-content p~p {
    margin-top: 10px
}

#bx-soa-properties .row {
    display: grid;
    gap: 10px
}

#bx-soa-properties .row .bx-soa-tooltip {
    display: none
}

#bx-soa-properties .bx-soa-customer {
    display: grid;
    gap: 10px
}

@media(min-width: 1200px) {
    #bx-soa-properties .bx-soa-customer {
        grid-template-columns: repeat(2, 1fr)
    }
}

#bx-soa-properties .bx-soa-section-title-count::after {
    content: "4"
}

#bx-soa-order {
    display: grid;
    row-gap: 20px
}

@media(min-width: 744px) {
    #bx-soa-order {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-column-gap: 10px;
        -moz-column-gap: 10px;
        column-gap: 10px;
        grid-template-columns: calc(66.6666666667% - 5px) calc(33.3333333333% - 5px)
    }
}

@media(min-width: 1440px) {
    #bx-soa-order {
        grid-template-columns: calc(58.3333333333% - 5px) calc(33.3333333333% - 5px)
    }
}

#bx-soa-total .bx-soa-cart-total-line {
    margin-top: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    line-height: 160%
}

@media(max-width: 1199px) {
    #bx-soa-total .bx-soa-cart-total-line {
        font-size: 14px
    }
}

#bx-soa-total .bx-soa-cart-total-line:nth-child(2n) {
    margin-top: 24px
}

#bx-soa-total .bx-soa-cart-total-line.bx-soa-cart-total-line-total {
    font-weight: 700;
    line-height: 120%;
    font-size: 20px;
    margin-bottom: 30px
}

#bx-soa-total .bx-soa-cart-total-button-container {
    width: 100%
}

#bx-soa-total .bx-soa-cart-total-button-container .btn {
    margin: 30px 0 10px;
    width: 100%
}

#bx-soa-total .bx-soa-cart-total-button-container span {
    font-size: 12px;
    line-height: initial
}

.cart__inner-total .col .cart__inner-total {
    padding: 0
}

.basket-coupon-alert-section {
    margin-top: 10px
}

.basket-coupon-alert {
    gap: 5px;
    display: grid
}

.basket-coupon-alert .basket-coupon-text {
    font-size: 14px
}

.basket-coupon-alert .close-link {
    cursor: pointer
}