.popup {
  display: none;
  gap: 20px;
  height: fit-content;

  @include breakpointMax(md) {
    min-height: 100%;
  }

  form {
    order: 4;

    textarea, input {
      background-color: $bg;
      color: $black;

      &::placeholder {
        color: $black;
      }
    }

    .form-action {
      margin-top: 20px;

      @include breakpointCustom(650px) {
        align-items: center;
        grid-template-columns: 255px auto;
      }

      p {

        @include breakpointCustom(650px) {
          width: 80%;
        }
      }

    }
  }

}

form {

  .form-row ~ .form-row {
    margin-top: 10px;
  }

  .form-row {

    &.upload-file {
      padding: 14px 24px;
      width: 100%;
      font: 400 14px/150% $mainFont;
      color: $black;
      //outline: none;
      border-radius: 100px;
      background-color: $bg;
      border: 1px dashed $stroke;
      cursor: pointer;


      label {
        @include flexAlignCenter;
        gap: 6px;
        cursor: pointer;

        .upload-icon {
          width: 24px;
          height: 24px;
        }

        span.upload {
          margin-left: 14px;
          @include titleGeneral
        }
      }

    }
  }

  input[type="text"], input[type="tel"] {
    height: 70px;


  }

  textarea, input {
    padding: 14px 24px;

    &::placeholder {
      font-size: 16px;
      font-weight: 700;
    }
  }

  .form-action {
    display: grid;
    gap: 10px;

    .btn {
      padding: 16px 60px;
      @include flexCenterCenter;
      height: 70px;
      width: 100%;

      @include breakpointCustom(650px) {
        grid-column: 1/2;
      }

    }

    p {
      font-size: 14px;
    }
  }
}


.popup {
  padding: 30px 10px;
  @include breakpointCustom(650px) {
    width: 650px;
    padding: 30px;
    border-radius: 30px;
  }
}

.popup-success {

  .popup-image {
    order: 2;
    width: 80px;
    height: 80px;
    margin-top: 10px;
  }

  .popup-title {
    margin-top: 20px;
  }

  .popup-subtitle {
    line-height: 150%;
  }

}


.popup-title {
  order: 2;
  @include formTitle;
}

.popup-subtitle {
  @include breakpoint(lg) {
    font-size: 20px;
  }
  order: 3;
}

.fancybox__slide {
  padding: 0;
}

.fancybox__content > .carousel__button.is-close {
  position: static;
  order: 1;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  min-height: 40px;
  align-self: end;
  @include flexCenterCenter;
  border-radius: 6px;
  background-color: $green-light;

  @include breakpoint(lg) {
    top: 30px;
    right: 30px;
  }

  &:hover {
    background-color: $green-dark;
  }
}

.carousel__button svg {
  filter: none;
}

.fancybox__backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.fancybox__container {
  ::-webkit-scrollbar-track {
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    display: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

.fancybox__content {
  img {
    border-radius: 40px;
  }
}
.fancybox__toolbar {
  background: none;
}

.fancybox__nav {
  .carousel__button {
    background-color: $green-light;
    border-radius: 50%;
  }
}

.fancybox__toolbar__items.fancybox__toolbar__items--right {
  .carousel__button {
    &.fancybox__button--zoom, &.fancybox__button--fullscreen, &.fancybox__button--thumbs, &.fancybox__button--slideshow {
      display: none;
    }
    &.fancybox__button--close {
      //position: static;
      order: 1;
      //top: 10px;
      //right: 10px;
      width: 60px;
      height: 60px;
      min-height: 40px;
      align-self: end;
      @include flexCenterCenter;
      border-radius: 10px;
      background-color: $green-light;

      svg {
        width: 55%;
        height: 55%;
      }

      &:hover {
        background-color: $green-dark;
      }
    }
  }
}

.fancybox__toolbar__items--left {
  display: none;
}

.fancybox__thumbs .carousel__slide .fancybox__thumb::after {
  border-color: $green-light;
}