.promos {
  .promos__inner {
    .promos__items.general-info-items {

      .general-info-item {
        .item-image {
          @include ratio(320, 162);

          @include breakpoint(md) {
            @include ratio(325, 167);
          }

          @include breakpoint(lg) {
            @include ratio(353, 183);
          }

          @include breakpoint(xl) {
            @include ratio(433, 230);
          }

          .item-sticker {
            position: absolute;
            bottom: 10px;
            right: 10px;
            width: 70px;
            height: 70px;
            @include flexCenterCenter;
            z-index: 0;

            span {
              position: relative;
              z-index: 1;
              transform: rotate(-18.968deg);
              font-size: 14px;
              font-weight: 700;

            }
          }

        }
      }

    }
  }

  .general-info-item {
    padding: 10px 10px 16px;
    position: relative;
    background-color: $white;

    .item-date {
      position: absolute;
      top: 0;
      left: 40px;
      z-index: 1;
      color: $white;
      background-color: $green-light;
      font-weight: 700;
      padding: 6px 12px;
      border-radius: 0 0 8px 8px;
    }

    .item-image {
      border-radius: 12px;
    }

    .item-text {
      margin-top: 20px;

      .item-name {
        font-size: 20px;

        @include breakpoint(xl) {
          @include textLimit(2);
        }
      }

      .item-description {
        margin-top: 4px;
      }
    }
  }
}