.reviews {
  .reviews__inner {

    .reviews__content {
      display: grid;
      gap: 50px;
      position: relative;
      //height: fit-content;
      @include breakpoint(lg) {
        gap: 20px;
        grid-template-columns: calc(100% / 12 * 9 - 5px) calc(100% / 12 * 3 - 15px);
      }
    }

    .reviews__action {
      color: $white;
      background-color: $green-light;

      @include breakpoint(lg) {
        position: sticky;
        top: 212px;
      }

      @include breakpoint(lg) {
        grid-column: 2/3;
        grid-row: 1/2;
      }

      .reviews__action-icon {
        width: 40px;
        height: 40px;
      }

      .reviews__action-btn {
        width: 100%;

        .btn {
          padding: 16px;
          width: 100%;
        }
      }
    }

    .reviews__items {

      display: grid;
      gap: 10px;

      .reviews__item {
        padding: 20px;
        @include whiteRoundedBlock;
        display: grid;
        gap: 20px;

        @include breakpoint(md) {
          grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint(lg) {
          gap: 0 30px;
          grid-template-columns: 330px 1fr;
        }


        .reviews__item-photo {
          height: 209px;
          border-radius: 20px;

          @include breakpoint(md) {
            height: 230px;
            grid-column: 1/2;
            grid-row: 1/2;
          }
          @include breakpoint(lg) {
            //height: unset;
            grid-row: 1/3;
          }
        }

        .reviews__item-text {
          @include breakpoint(md) {
            grid-column: 2/3;
            grid-row: 1/2;
          }
        }

        .reviews__item-client {
          position: relative;
          @include flexCenterBetween;
          @include titleGeneral;
          font-size: 20px;


          @include breakpoint(md) {
            grid-column: 2/3;
            grid-row: 2/3;
          }

          @include breakpoint(lg) {
          align-self: flex-end;
          }

          &::after {
            display: block;
            content: '';
            background: url("../images/icon_quotes.svg") center no-repeat;
            background-size: contain;
            bottom: 20px;
            right: 20px;
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }
}


.reviews__action {
  padding: 20px;
  display: grid;
  grid-template-columns: 100%;
  gap: 30px;
  //color: $white;
  border-radius: 20px;
  //background-color: $green-light;
  height: fit-content;

  @include breakpoint(lg) {
    //position: sticky;
    //top: 212px;
  }

  @include breakpoint(lg) {
    //grid-column: 2/3;
    //grid-row: 1/2;
  }



  .reviews__action-btn {
    width: 100%;

    .btn {
      padding: 16px;
      width: 100%;
    }
  }
}