.filter-content
    .filter-close.menu-action.btn.btn--mint-bg
        include ../assets/images/icon_close.svg
    .filter-content-head
        span Фильтр
    .filter-items
        .filter-options

            .filter-option.checkbox-style
                input#new-products(type="checkbox")
                label(for="new-products") Новинка
            .filter-option.checkbox-style
                input#in-stock(type="checkbox" checked)
                label(for="in-stock") В наличии
            .filter-option.checkbox-style
                input#liquid-products(type="checkbox")
                label(for="liquid-products") Акция


        .filter-item
            .filter-head
                span Назначение
            .filter-options
                .filter-option.checkbox-style
                    input#purpose1(type="checkbox")
                    label(for="purpose1") Для дома и дачи
                .filter-option.checkbox-style
                    input#purpose2(type="checkbox")
                    label(for="purpose2") Для ресторана и кафе
                .filter-option.checkbox-style
                    input#purpose3(type="checkbox")
                    label(for="purpose3") На кровле и балконе
                .filter-option.checkbox-style
                    input#purpose4(type="checkbox")
                    label(for="purpose4") Пирсы и причалы
                .filter-option.checkbox-style
                    input#purpose5(type="checkbox")
                    label(for="purpose5") В парке
                .filter-option.checkbox-style
                    input#purpose6(type="checkbox")
                    label(for="purpose6") У бассейна

        .filter-item
            .filter-head
                span Размер
            .filter-options
                .filter-option.checkbox-style
                    input#size1(type="checkbox")
                    label(for="size1") 3 м
                .filter-option.checkbox-style
                    input#size2(type="checkbox")
                    label(for="size2") 4 м
                .filter-option.checkbox-style
                    input#size3(type="checkbox")
                    label(for="size3") 5 м
        .filter-item
            .filter-head
                span Цвет
            .filter-options
                .filter-option.checkbox-style
                    input#color1(type="checkbox")
                    label(for="color1")
                        .filter-color.color(style="background-image: url('assets/images/color-1.png')")
                        .filter-text Бежевый
                .filter-option.checkbox-style
                    input#color2(type="checkbox")
                    label(for="color2")
                        .filter-color.color(style="background-image: url('assets/images/color-1.png')")
                        .filter-text Белый
                .filter-option.checkbox-style
                    input#color3(type="checkbox")
                    label(for="color3")
                        .filter-color.color(style="background-image: url('assets/images/color-1.png')")
                        .filter-text Бирюзовый
                .filter-option.checkbox-style
                    input#color4(type="checkbox")
                    label(for="color4")
                        .filter-color.color(style="background-image: url('assets/images/color-1.png')")
                        .filter-text Бронза





        .filter-item
            .filter-head
                span Обработка поверхности
            .filter-options
                .filter-option.checkbox-style
                    input#processing1(type="checkbox")
                    label(for="processing1") обработка 1
                .filter-option.checkbox-style
                    input#processing2(type="checkbox")
                    label(for="processing2") обработка 2
                .filter-option.checkbox-style
                    input#processing3(type="checkbox")
                    label(for="processing3") обработка 3

        .filter-item
            .filter-head
                span Ударная стойкость
            .filter-options
                .filter-option.checkbox-style
                    input#resistance1(type="checkbox")
                    label(for="resistance1") ударная стойкость 1
                .filter-option.checkbox-style
                    input#resistance2(type="checkbox")
                    label(for="resistance2") ударная стойкость 2
                .filter-option.checkbox-style
                    input#resistance3(type="checkbox")
                    label(for="resistance3") ударная стойкость 3
    .filter-actions
        .btn.btn--yellow#applyFilter Применить
        .btn.btn--bordered#resetFilter
            include ../assets/images/icon_close.svg
            span Сбросить