include ../includes/_mixins

section.products-list
    .container
        .products-list__inner
            .products-list__inner-head.section-head
                .section-head__title Ознакомьтесь с нашей продукцией
            .products-list__inner-items.general-cards-wrapper

                a(href='javascript:void(0)').general-card
                    .card-icon
                        +img('icon_timber.svg')
                    .card-text Террасная доска из ДПК
                a(href='javascript:void(0)').general-card
                    .card-icon
                        +img('icon_fence.svg')
                    .card-text Заборы и ограждения
                a(href='javascript:void(0)').general-card
                    .card-icon
                        +img('icon_ladder.svg')
                    .card-text Ступени из ДПК
                a(href='javascript:void(0)').general-card
                    .card-icon
                        +img('icon_siding.svg')
                    .card-text Сайдинг
                a(href='javascript:void(0)').general-card
                    .card-icon
                        +img('icon_pillar.svg')
                    .card-text Регулируемые опоры
                a(href='javascript:void(0)').general-card
                    .card-icon
                        +img('icon_shed.svg')
                    .card-text Навесы, перголы, беседки
                a(href='javascript:void(0)').general-card
                    .card-icon
                        +img('icon_rattan-furniture.svg')
                    .card-text Мебель из искусственного ротанга
                a(href='javascript:void(0)').general-card
                    .card-icon
                        +img('icon_garden-bed.svg')
                    .card-text Грядки из ДПК
                a(href='javascript:void(0)').general-card
                    .card-icon
                        +img('icon_components.svg')
                    .card-text Комплектующие
                a(href='javascript:void(0)').general-card
                    .card-icon
                        +img('icon_tree.svg')
                    .card-text Террасная доска из дерева
section.faq
    .container
        .faq__inner
            .faq__inner-head.section-head
                .section-head__title Ответы на часто задаваемые вопросы
            .faq__items.accordion__items
                +accordionItem('Какой состав продукции «Polywood»?', 'Lorem ipsum dolor sit amet consectetur. Vulputate convallis condimentum volutpat justo orci iaculis mauris. Enim praesent commodo sagittis aliquam nunc.')
                +accordionItem('Где применяет декинг?', 'Lorem ipsum dolor sit amet consectetur. Vulputate convallis condimentum volutpat justo orci iaculis mauris. Enim praesent commodo sagittis aliquam nunc.')
                +accordionItem('Какого цвета бывает?', 'Lorem ipsum dolor sit amet consectetur. Vulputate convallis condimentum volutpat justo orci iaculis mauris. Enim praesent commodo sagittis aliquam nunc.')
            .faq__inner-ask
                .ask-title Задайте вопрос специалисту
                .ask-text Менеджеры компании Поливуд ответят на все вопросы, а так же произведут расчет стоимости материалов и услуг для строительства Вашей любимой террасы.
                .ask-action
                    .btn.btn--yellow(data-src="#popup-ask-question" data-fancybox) Задать вопрос
            .yellow-sticker
                +img('yellow-sticker.svg')
section.calculate
    .container
        .calculate__inner
            .general-form.form-calculate

                .general-form__inner
                    .general-form__title Рассчитайте количество материалов для строительства террасы
                    .general-form__subtitle С помощью калькулятора вы сможете выполнить предварительный расчет необходимого количества материалов для постройки террасы из любой террасной доски.

                    form
                        .form-action
                            a(href='calculator.html').btn.btn--yellow Рассчитать

                    .general-form__image
                        +img('calculate-screen.png')
                .ticker
                    .ticker__inner
                        .ticker__item
                            span.ticker__item-text Онлайн-калькулятор
                            +img('icon_star-white.svg')
                            span.ticker__item-text Онлайн-калькулятор
                            +img('icon_star-white.svg')
                            span.ticker__item-text Онлайн-калькулятор
                            +img('icon_star-white.svg')
                            span.ticker__item-text Онлайн-калькулятор
                            +img('icon_star-white.svg')
                            span.ticker__item-text Онлайн-калькулятор
                            +img('icon_star-white.svg')
                            span.ticker__item-text Онлайн-калькулятор
                            span.ticker__item-text Онлайн-калькулятор
                            +img('icon_star-white.svg')
                            span.ticker__item-text Онлайн-калькулятор
                            +img('icon_star-white.svg')
                            span.ticker__item-text Онлайн-калькулятор
            .calculate__inner-options.service-extra-options
                a(href='javascript:void(0)').service-option
                    .option-image
                        +img('calculate-option-1.jpg')
                    .option-title Бесплатный проект по вашему эскизу
                a(href='javascript:void(0)').service-option
                    .option-image
                        +img('calculate-option-2.jpg')
                    .option-title Заказать видеоконсультацию (Whatsapp/ Telegram/ Viber)