include ../includes/_mixins
.scroll-to-top
    .wrapper
        include ../assets/images/icon_arrow-left.svg
//.fixed-elements
    .scroll-to-top.fixed-element
        .wrapper
            include ../assets/images/icon_arrow-left.svg