<section class="faq">
    <div class="container">
        <div class="faq__inner">
            <div class="faq__inner-head section-head">
                <h2 class="section-head__title">Ответы на часто задаваемые вопросы</h2>
            </div>
            <div class="faq__items accordion__items">
                <div class="accordion__item">
                    <div class="accordion__visible">
                        <div class="accordion__visible-text">
                            <p>Какой состав продукции «Polywood»?</p>
                        </div>
                        <div class="accordion__visible-icon">
                            <div class="plus"><img src="assets/images/icon_plus.svg" alt="" />
                            </div>
                            <div class="minus"><img src="assets/images/icon_minus.svg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="accordion__hidden">Lorem ipsum dolor sit amet consectetur. Vulputate convallis condimentum volutpat justo orci iaculis mauris. Enim praesent commodo sagittis aliquam nunc.</div>
                </div>
                <div class="accordion__item">
                    <div class="accordion__visible">
                        <div class="accordion__visible-text">
                            <p>Где применяет декинг?</p>
                        </div>
                        <div class="accordion__visible-icon">
                            <div class="plus"><img src="assets/images/icon_plus.svg" alt="" />
                            </div>
                            <div class="minus"><img src="assets/images/icon_minus.svg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="accordion__hidden">Lorem ipsum dolor sit amet consectetur. Vulputate convallis condimentum volutpat justo orci iaculis mauris. Enim praesent commodo sagittis aliquam nunc.</div>
                </div>
                <div class="accordion__item">
                    <div class="accordion__visible">
                        <div class="accordion__visible-text">
                            <p>Какого цвета бывает?</p>
                        </div>
                        <div class="accordion__visible-icon">
                            <div class="plus"><img src="assets/images/icon_plus.svg" alt="" />
                            </div>
                            <div class="minus"><img src="assets/images/icon_minus.svg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="accordion__hidden">Lorem ipsum dolor sit amet consectetur. Vulputate convallis condimentum volutpat justo orci iaculis mauris. Enim praesent commodo sagittis aliquam nunc.</div>
                </div>
            </div>
            <div class="faq__inner-ask">
                <div class="ask-title">Задайте вопрос специалисту</div>
                <div class="ask-text">Менеджеры компании Поливуд ответят на все вопросы, а так же произведут расчет стоимости материалов и услуг для строительства Вашей любимой террасы.</div>
                <div class="ask-action">
                    <div class="btn btn--yellow" data-src="#popup-ask-question" data-fancybox="data-fancybox">Задать вопрос</div>
                </div>
            </div>
            <div class="yellow-sticker"><img src="assets/images/yellow-sticker.svg" alt="" />
            </div>
        </div>
    </div>
</section>
<section class="products-list">
    <div class="container">
        <div class="products-list__inner">
            <div class="products-list__inner-head section-head">
                <h2 class="section-head__title">Ознакомьтесь с нашей продукцией</h2>
            </div>
            <div class="products-list__inner-items general-cards-wrapper"><a class="general-card" href="javascript:void(0)">
                    <div class="card-icon"><img src="assets/images/icon_timber.svg" alt="" />
                    </div>
                    <div class="card-text">Террасная доска из ДПК</div>
                </a><a class="general-card" href="javascript:void(0)">
                    <div class="card-icon"><img src="assets/images/icon_fence.svg" alt="" />
                    </div>
                    <div class="card-text">Заборы и ограждения</div>
                </a><a class="general-card" href="javascript:void(0)">
                    <div class="card-icon"><img src="assets/images/icon_ladder.svg" alt="" />
                    </div>
                    <div class="card-text">Ступени из ДПК</div>
                </a><a class="general-card" href="javascript:void(0)">
                    <div class="card-icon"><img src="assets/images/icon_siding.svg" alt="" />
                    </div>
                    <div class="card-text">Сайдинг</div>
                </a><a class="general-card" href="javascript:void(0)">
                    <div class="card-icon"><img src="assets/images/icon_pillar.svg" alt="" />
                    </div>
                    <div class="card-text">Регулируемые опоры</div>
                </a><a class="general-card" href="javascript:void(0)">
                    <div class="card-icon"><img src="assets/images/icon_shed.svg" alt="" />
                    </div>
                    <div class="card-text">Навесы, перголы, беседки</div>
                </a><a class="general-card" href="javascript:void(0)">
                    <div class="card-icon"><img src="assets/images/icon_rattan-furniture.svg" alt="" />
                    </div>
                    <div class="card-text">Мебель из искусственного ротанга</div>
                </a><a class="general-card" href="javascript:void(0)">
                    <div class="card-icon"><img src="assets/images/icon_garden-bed.svg" alt="" />
                    </div>
                    <div class="card-text">Грядки из ДПК</div>
                </a><a class="general-card" href="javascript:void(0)">
                    <div class="card-icon"><img src="assets/images/icon_components.svg" alt="" />
                    </div>
                    <div class="card-text">Комплектующие</div>
                </a><a class="general-card" href="javascript:void(0)">
                    <div class="card-icon"><img src="assets/images/icon_tree.svg" alt="" />
                    </div>
                    <div class="card-text">Террасная доска из дерева</div>
                </a></div>
        </div>
    </div>
</section>
<section class="calculate">
    <div class="container">
        <div class="calculate__inner">
            <div class="general-form form-calculate">
                <div class="general-form__inner">
                    <div class="general-form__title">Рассчитайте количество материалов для строительства террасы</div>
                    <div class="general-form__subtitle">С помощью калькулятора вы сможете выполнить предварительный расчет необходимого количества материалов для постройки террасы из любой террасной доски.</div>
                    <form>
                        <div class="form-action"><a class="btn btn--yellow" href="calculator.html">Рассчитать</a></div>
                    </form>
                    <div class="general-form__image"><img src="assets/images/calculate-screen.png" alt="" />
                    </div>
                </div>
                <div class="ticker">
                    <div class="ticker__inner">
                        <div class="ticker__item"><span class="ticker__item-text">Онлайн-калькулятор</span><img src="assets/images/icon_star-white.svg" alt="" /><span class="ticker__item-text">Онлайн-калькулятор</span><img src="assets/images/icon_star-white.svg" alt="" /><span class="ticker__item-text">Онлайн-калькулятор</span><img src="assets/images/icon_star-white.svg" alt="" /><span class="ticker__item-text">Онлайн-калькулятор</span><img src="assets/images/icon_star-white.svg" alt="" /><span class="ticker__item-text">Онлайн-калькулятор</span><img src="assets/images/icon_star-white.svg" alt="" /><span class="ticker__item-text">Онлайн-калькулятор</span><span class="ticker__item-text">Онлайн-калькулятор</span><img src="assets/images/icon_star-white.svg" alt="" /><span class="ticker__item-text">Онлайн-калькулятор</span><img src="assets/images/icon_star-white.svg" alt="" /><span class="ticker__item-text">Онлайн-калькулятор</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="calculate__inner-options service-extra-options"><a class="service-option" href="javascript:void(0)">
                    <div class="option-image"><img src="assets/images/calculate-option-1.jpg" alt="" />
                    </div>
                    <div class="option-title">Бесплатный проект по вашему эскизу</div>
                </a><a class="service-option" href="javascript:void(0)">
                    <div class="option-image"><img src="assets/images/calculate-option-2.jpg" alt="" />
                    </div>
                    <div class="option-title">Заказать видеоконсультацию (Whatsapp/ Telegram/ Viber)</div>
                </a></div>
        </div>
    </div>
</section>