<div class="filter-content">
    <div class="filter-close menu-action btn btn--mint-bg"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 18L18 6M6 6L18 18" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </div>
    <div class="filter-content-head"><span>Фильтр</span></div>
    <div class="filter-items">
        <div class="filter-options">
            <div class="filter-option checkbox-style">
                <input id="new-products" type="checkbox" />
                <label for="new-products">Новинка</label>
            </div>
            <div class="filter-option checkbox-style">
                <input id="in-stock" type="checkbox" checked="checked" />
                <label for="in-stock">В наличии</label>
            </div>
            <div class="filter-option checkbox-style">
                <input id="liquid-products" type="checkbox" />
                <label for="liquid-products">Акция</label>
            </div>
        </div>
        <div class="filter-item">
            <div class="filter-head"><span>Назначение</span></div>
            <div class="filter-options">
                <div class="filter-option checkbox-style">
                    <input id="purpose1" type="checkbox" />
                    <label for="purpose1">Для дома и дачи</label>
                </div>
                <div class="filter-option checkbox-style">
                    <input id="purpose2" type="checkbox" />
                    <label for="purpose2">Для ресторана и кафе</label>
                </div>
                <div class="filter-option checkbox-style">
                    <input id="purpose3" type="checkbox" />
                    <label for="purpose3">На кровле и балконе</label>
                </div>
                <div class="filter-option checkbox-style">
                    <input id="purpose4" type="checkbox" />
                    <label for="purpose4">Пирсы и причалы</label>
                </div>
                <div class="filter-option checkbox-style">
                    <input id="purpose5" type="checkbox" />
                    <label for="purpose5">В парке</label>
                </div>
                <div class="filter-option checkbox-style">
                    <input id="purpose6" type="checkbox" />
                    <label for="purpose6">У бассейна</label>
                </div>
            </div>
        </div>
        <div class="filter-item">
            <div class="filter-head"><span>Размер</span></div>
            <div class="filter-options">
                <div class="filter-option checkbox-style">
                    <input id="size1" type="checkbox" />
                    <label for="size1">3 м</label>
                </div>
                <div class="filter-option checkbox-style">
                    <input id="size2" type="checkbox" />
                    <label for="size2">4 м</label>
                </div>
                <div class="filter-option checkbox-style">
                    <input id="size3" type="checkbox" />
                    <label for="size3">5 м</label>
                </div>
            </div>
        </div>
        <div class="filter-item">
            <div class="filter-head"><span>Цвет</span></div>
            <div class="filter-options">
                <div class="filter-option checkbox-style">
                    <input id="color1" type="checkbox" />
                    <label for="color1">
                        <div class="filter-color color" style="background-image: url('assets/images/color-1.png')"></div>
                        <div class="filter-text">Бежевый</div>
                    </label>
                </div>
                <div class="filter-option checkbox-style">
                    <input id="color2" type="checkbox" />
                    <label for="color2">
                        <div class="filter-color color" style="background-image: url('assets/images/color-1.png')"></div>
                        <div class="filter-text">Белый</div>
                    </label>
                </div>
                <div class="filter-option checkbox-style">
                    <input id="color3" type="checkbox" />
                    <label for="color3">
                        <div class="filter-color color" style="background-image: url('assets/images/color-1.png')"></div>
                        <div class="filter-text">Бирюзовый</div>
                    </label>
                </div>
                <div class="filter-option checkbox-style">
                    <input id="color4" type="checkbox" />
                    <label for="color4">
                        <div class="filter-color color" style="background-image: url('assets/images/color-1.png')"></div>
                        <div class="filter-text">Бронза</div>
                    </label>
                </div>
            </div>
        </div>
        <div class="filter-item">
            <div class="filter-head"><span>Обработка поверхности</span></div>
            <div class="filter-options">
                <div class="filter-option checkbox-style">
                    <input id="processing1" type="checkbox" />
                    <label for="processing1">обработка 1</label>
                </div>
                <div class="filter-option checkbox-style">
                    <input id="processing2" type="checkbox" />
                    <label for="processing2">обработка 2</label>
                </div>
                <div class="filter-option checkbox-style">
                    <input id="processing3" type="checkbox" />
                    <label for="processing3">обработка 3</label>
                </div>
            </div>
        </div>
        <div class="filter-item">
            <div class="filter-head"><span>Ударная стойкость</span></div>
            <div class="filter-options">
                <div class="filter-option checkbox-style">
                    <input id="resistance1" type="checkbox" />
                    <label for="resistance1">ударная стойкость 1</label>
                </div>
                <div class="filter-option checkbox-style">
                    <input id="resistance2" type="checkbox" />
                    <label for="resistance2">ударная стойкость 2</label>
                </div>
                <div class="filter-option checkbox-style">
                    <input id="resistance3" type="checkbox" />
                    <label for="resistance3">ударная стойкость 3</label>
                </div>
            </div>
        </div>
    </div>
    <div class="filter-actions">
        <div class="btn btn--yellow" id="applyFilter">Применить</div>
        <div class="btn btn--bordered" id="resetFilter"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 18L18 6M6 6L18 18" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg><span>Сбросить</span>
        </div>
    </div>
</div>