<!-- ПОПАП "ЗАДАТЬ ВОПРОС"-->
<div class="popup" id="popup-ask-question">
    <div class="popup-title">Задать вопрос</div>
    <div class="popup-subtitle">Менеджеры компании с радостью ответят на ваши вопросы и произведут расчет стоимости услуг и подготовят индивидуальное коммерческое предложение.</div>
    <form>
        <div class="form-row">
            <input type="text" name="popup-ask-question_name" placeholder="Имя" />
        </div>
        <div class="form-row">
            <input class="phone-mask" type="tel" name="popup-ask-question_phone" placeholder="Телефон*" />
        </div>
        <div class="form-row">
            <input type="email" name="popup-ask-question_email" placeholder="E-mail" />
        </div>
        <div class="form-row">
            <input type="text" name="popup-ask-question_product" placeholder="Интересующий товар/услуга*" />
        </div>
        <div class="form-row">
            <textarea placeholder="Комментарий к заказу"></textarea>
        </div>
        <div class="form-action">
            <button class="btn btn--yellow" type="submit">Отправить</button>
            <p>Нажимая на кнопку, вы соглашаетесь на обработку персональных данных и с публичной офертой</p>
        </div>
    </form>
</div>
<!-- ПОПАП "ЗАКАЗАТЬ РАСЧЕТ"-->
<div class="popup" id="popup-order-calc">
    <div class="popup-title">Заявка на расчёт</div>
    <div class="popup-subtitle">Форма заявки на расчёт проекта</div>
    <form>
        <div class="form-row">
            <input type="text" name="popup-order-calc_name" placeholder="Имя" />
        </div>
        <div class="form-row">
            <input class="phone-mask" type="tel" name="popup-order-calc_phone" placeholder="Телефон*" />
        </div>
        <div class="form-row">
            <input type="email" name="popup-order-calc_email" placeholder="E-mail" />
        </div>
        <div class="form-row">
            <textarea placeholder="Комментарий к заказу"></textarea>
        </div>
        <div class="form-action">
            <button class="btn btn--yellow" type="submit">Отправить</button>
            <p>Нажимая на кнопку, вы соглашаетесь на обработку персональных данных и с публичной офертой</p>
        </div>
    </form>
</div>
<!-- ПОПАП "ЗАКАЗАТЬ ОБРАЗЦЫ"-->
<div class="popup" id="popup-order-samples">
    <div class="popup-title">Закажите бесплатные образцы террасной доски</div>
    <form>
        <div class="form-row">
            <input type="text" name="popup-order-samples_name" placeholder="Имя" />
        </div>
        <div class="form-row">
            <input class="phone-mask" type="tel" name="popup-order-samples_phone" placeholder="Телефон*" />
        </div>
        <div class="form-row">
            <input type="email" name="popup-order-samples_email" placeholder="E-mail" />
        </div>
        <div class="form-action">
            <button class="btn btn--yellow" type="submit">Отправить</button>
            <p>Нажимая на кнопку, вы соглашаетесь на обработку персональных данных и с публичной офертой</p>
        </div>
    </form>
</div>
<!-- ПОПАП "ЗАКАЗАТЬ ЗВОНОК"-->
<div class="popup" id="popup-order-call">
    <div class="popup-title">Обратный звонок</div>
    <div class="popup-subtitle">Представьтесь, мы вам перезвоним</div>
    <form>
        <div class="form-row">
            <input type="text" name="popup-order-call_name" placeholder="Имя" />
        </div>
        <div class="form-row">
            <input class="phone-mask" type="tel" name="popup-order-call_phone" placeholder="Телефон*" />
        </div>
        <div class="form-action">
            <button class="btn btn--yellow" type="submit">Отправить</button>
            <p>Нажимая на кнопку, вы соглашаетесь на обработку персональных данных и с публичной офертой</p>
        </div>
    </form>
</div>
<!-- ПОПАП "ВЫЗВАТЬ СПЕЦИАЛИСТА"-->
<div class="popup" id="popup-call-spec">
    <div class="popup-title">Вызвать специалиста на замер</div>
    <div class="popup-subtitle">Наш специалист привезет образцы ДПК, чтобы вы могли выбрать материал прямо у себя дома!</div>
    <form>
        <div class="form-row">
            <input type="text" name="popup-call-spec_name" placeholder="Имя" />
        </div>
        <div class="form-row">
            <input class="phone-mask" type="tel" name="popup-call-spec_phone" placeholder="Телефон*" />
        </div>
        <div class="form-row">
            <input type="email" name="popup-call-spec_email" placeholder="E-mail" />
        </div>
        <div class="form-action">
            <button class="btn btn--yellow" type="submit">Отправить</button>
            <p>Нажимая на кнопку, вы соглашаетесь на обработку персональных данных и с публичной офертой</p>
        </div>
    </form>
</div>
<!-- ПОПАП "ОТПРАВИТЬ РЕЗЮМЕ"-->
<div class="popup" id="popup-send-cv">
    <div class="popup-title">Отправить резюме</div>
    <form>
        <div class="form-row">
            <input type="text" name="popup-send-cv_name" placeholder="Имя" />
        </div>
        <div class="form-row">
            <input class="phone-mask" type="tel" name="popup-send-cv_phone" placeholder="Телефон*" />
        </div>
        <div class="form-row">
            <input type="email" name="popup-send-cv_email" placeholder="E-mail" />
        </div>
        <div class="form-row">
            <input type="text" name="popup-send-cv_job" placeholder="Желаемая должность*" />
        </div>
        <div class="form-row">
            <textarea placeholder="Дополнительная информация"></textarea>
        </div>
        <div class="form-row upload-file">
            <input class="inputfile" id="upload-photo" type="file" name="file" />
            <label for="upload-photo">
                <div class="upload-icon"><img src="assets/images/icon_paper-clip.svg" alt="" />
                </div><span class="upload">Загрузить резюме</span><span class="format">pdf, doc, docx, txt</span>
            </label>
        </div>
        <div class="form-action">
            <button class="btn btn--yellow" type="submit" data-src="#popup-success-cv" data-fancybox="data-fancybox">Отправить</button>
            <p>Нажимая на кнопку, вы соглашаетесь на обработку персональных данных и с публичной офертой</p>
        </div>
    </form>
</div>
<!-- ПОПАП "ОТПРАВИТЬ ОТЗЫВ"-->
<div class="popup" id="popup-leave-review">
    <div class="popup-title">Оставить отзыв</div>
    <form>
        <div class="form-row">
            <input type="text" name="popup-leave-review_name" placeholder="Имя" />
        </div>
        <div class="form-row">
            <input type="email" name="popup-leave-review_email" placeholder="E-mail" />
        </div>
        <div class="form-row">
            <textarea placeholder="Отзыв*"></textarea>
        </div>
        <div class="form-action">
            <button class="btn btn--yellow" type="submit" data-src="#popup-success-review" data-fancybox="data-fancybox">Отправить</button>
            <p>Нажимая на кнопку, вы соглашаетесь на обработку персональных данных и с публичной офертой</p>
        </div>
    </form>
</div>
<!-- ПОПАП "УСПЕШНО"-->
<div class="popup popup-success" id="popup-success">
    <div class="popup-image"><img src="assets/images/icon_star-shape.svg" alt="" />
    </div>
    <div class="popup-title">Заявка успешно отправлена!</div>
    <div class="popup-subtitle">Спасибо, что оставили заявку, Мы свяжемся с вами в ближайшее время</div>
</div>
<!-- ПОПАП "УСПЕШНО ПОДПИСКА"-->
<div class="popup popup-success" id="popup-success-subscribe">
    <div class="popup-image"><img src="assets/images/icon_star-shape.svg" alt="" />
    </div>
    <div class="popup-title">Вы успешно подписались на обновления!</div>
    <!--.popup-subtitle Спасибо, что оставили заявку,-->
</div>
<!-- ПОПАП "УСПЕШНО ОТЗЫВ"-->
<div class="popup popup-success" id="popup-success-review">
    <div class="popup-image"><img src="assets/images/icon_star-shape.svg" alt="" />
    </div>
    <div class="popup-title">Отзыв отправлен</div>
    <div class="popup-subtitle">Благодарим за ваш отклик. Ваше мнение помогает нам становиться лучше.</div>
</div>
<!-- ПОПАП "УСПЕШНО РЕЗЮМЕ"-->
<div class="popup popup-success" id="popup-success-cv">
    <div class="popup-image"><img src="assets/images/icon_star-shape.svg" alt="" />
    </div>
    <div class="popup-title">Резюме успешно отправлено</div>
    <div class="popup-subtitle">Спасибо за проявленный интерес к нашей вакансии. Мы рассмотрим вашу кандидатуру и свяжемся с вами для дальнейшего обсуждения.</div>
</div>
<!--ПЛАШКА ПРИ ДОБАВЛЕНИИ ТОВАРА В КОРЗИНУ-->
<div class="product-in-cart">
    <div class="product-in-cart__content">
        <div class="content__image"><img src="assets/images/product-1.png" alt="" />
        </div>
        <div class="content__title">Товар добавлен в корзину</div>
        <div class="content__product-name">Террасная доска из ДПК POLYWOOD™ UNO графит 3 метра</div>
    </div>
</div>