<div class="product"><a class="product-image" href="product-page.html"><img src="assets/images/product-1.png" alt="" />
        <div class="labels">
            <div class="label label-yellow">Акция</div>
            <div class="label label-green">Много</div>
        </div>
        <div class="colors">
            <div class="color active" style="background-image: url('assets/images/color-1.png')"></div>
            <div class="color" style="background-image: url('assets/images/color-1.png')"></div>
            <div class="color" style="background-image: url('assets/images/color-1.png')"></div>
            <div class="color" style="background-image: url('assets/images/color-1.png')"></div>
        </div>
    </a>
    <div class="product-info"><a class="info-title" href="product-page.html">
            <p class="category">Террасная доска ДПК</p>
            <p class="name">POLYWOOD™ MINERAL DUO 3D графит 4 метра</p>
        </a>
        <div class="info-resistance">Ударная стойкость: <span>Высокая</span></div>
        <div class="info-size">
            <p>Размер</p>
            <div class="sizes">
                <div class="size">3 м</div>
                <div class="size active">4 м</div>
                <div class="size">5 м</div>
            </div>
        </div>
        <div class="info-price price-block">
            <div class="price-new">100 000 ₽</div>
            <div class="price-old">200 000 ₽</div>
        </div>
        <div class="info-quantity">
            <div class="counter">
                <div class="btn-count btn-subtract"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.3337 8H2.66699" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
                <input class="counter" type="number" data-default="1" data-min="0" data-max="10000000" value="1" />
                <div class="btn-count btn-add"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.00033 2.66675V13.3334M13.3337 8.00008L2.66699 8.00008" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="info-unit">
            <p>Ед. измерения</p>
            <div class="units">
                <div class="unit">шт</div>
                <div class="unit active"> м<sup>2</sup></div>
                <div class="unit">п.м</div>
            </div>
        </div>
        <div class="info-actions">
            <div class="btn btn--yellow addToCart">В корзину</div><a class="btn btn--gray" href="calculator.html">Рассчитать</a>
        </div>
    </div>
</div>