.header {
  z-index: 15;
  position: sticky;
  top: 0;
  //padding: 8px 0;


  @include breakpoint(md) {
    //padding: 15px 0;
  }

  .header__inner {
    padding: 8px;

    border-radius: 0 0 25px 25px;
    background-color: $white;
    transition: $transition-style;

    &.border-change {
      border-bottom-left-radius: 0;
    }

    @include breakpoint(md) {
      padding: 15px;
    }

    //justify-content: space-between;

    @include breakpoint(lg) {
      display: grid;
      grid-template-columns: 1fr 268px;
      gap: 24px 20px;
    }
    @include breakpoint(xl) {
      grid-template-columns: 1fr 350px;
    }


    .header__content {
      display: grid;
      grid-template-columns: 109px 1fr;
      justify-content: space-between;
      gap: 8px;

      @include breakpoint(md) {
        grid-template-columns: 224px calc(100% / 12 * 3) 1fr;
        column-gap: 14px;
      }

      @include breakpoint(lg) {
        grid-template-columns: auto auto auto 49px;
        grid-column: span 2;
        column-gap: 0;

        position: relative;

        &::after {
          position: absolute;
          content: '';
          width: 100%;
          height: 1px;
          top: 83px;
          background-color: $stroke;
        }
      }
      @include breakpoint(xl) {
        grid-template-columns: auto auto auto 49px;
        grid-column: span 2;
        column-gap: 0;

        &::after {
          top: 93px;
        }
      }

      .header__logo {
        width: 100%;

        display: grid;
        grid-template-columns: 100%;

        @include breakpoint(md) {
          grid-template-columns: 98px 1fr 148px;
          column-gap: 14px;
        }
        @include breakpoint(lg) {
          grid-template-columns: 221px 148px;
        }
        @include breakpoint(xl) {
          grid-template-columns: 250px 203px;
        }

        img {
          object-fit: contain;

          @include breakpoint(md) {
          //width: 98px;
          }
          @include breakpoint(lg) {
          //width: 221px;
          }
          @include breakpoint(xl) {
          //width: 250px;
          }
        }

        .header__slogan {
          @include breakpointMax(md) {
            display: none;
          }

          @include breakpoint(md) {
            font-size: 9px;
            font-weight: 600;
            line-height: normal;
            color: $gray-dark;
            @include flexAlignCenter;
            //align-self: end;
            //padding-top: 25px;
            grid-column: 3/4;
          }
          @include breakpoint(lg) {
            //font-size: 12px;
          grid-column: 2/3;
            grid-row: 1/3;
          }

          @include breakpoint(xl) {
            font-size: 12px;
          }
        }

      }

      .header__location {
        @include flexAlignCenter;
        gap: 8px;
        grid-column: 2/3;
        font-size: 14px;
        justify-self: end;

        @include breakpoint(md) {
          grid-row: 1/2;
          grid-column: 3/4;
        }
        @include breakpoint(lg) {
          grid-column: 2/3;
        }

        &:hover {
          span {
            color: $green-light;
          }
        }

        img {
          width: 16px;
          height: 16px;
          object-fit: contain;
        }
      }

      .header__service {
        @include flexAlignCenter;
        gap: 3px;

        @include breakpointMax(md) {
          padding-top: 8px;
          border-top: 1px solid $stroke;
          grid-column: 1/3;
          grid-row: 2/3;
          justify-content: space-between;
        }

        @include breakpoint(md) {
          grid-column: 2/3;
          grid-row: 1/2;
        }

        @include breakpoint(lg) {
          gap: 5px;
          grid-column: 1/2;
          grid-row: 2/3;
        }

        span {
          width: fit-content;
          text-transform: uppercase;
          font-weight: 800;
          font-size: 10px;
          line-height: normal;
          color: $gray-dark;

          @include breakpoint(md) {
            font-size: 8px;
          }
          @include breakpoint(xl) {
            font-size: 9px;
          }
        }
      }

      .header__contacts {
        grid-column: 1/3;
        @include flexCenterBetween;
        color: $black;

        @include breakpoint(md) {
          grid-column: 1/4;
        }

        @include breakpointMax(lg) {
          border-top: 1px solid $stroke;
          padding-top: 8px;
        }

        @include breakpoint(lg) {
          grid-column: 3/4;
          grid-row: 1/2;
          gap: 16px;
        }


        .header-contact {
          font-size: 15px;
          font-weight: 700;

          &.mos {
            @include flexAlignCenter;
            gap: 4px;

            &::after {
              display: block;
              content: "";
              background: url("../images/icon_chevron-down.svg") center no-repeat;
              background-size: contain;
              width: 16px;
              height: 16px;
              transition: $transition-style;

              @include breakpoint(md) {
                display: none;
              }


            }

            &.active {
              &::after {
                transform: rotate(-180deg);
              }
            }
          }

          &.rus {
            @include breakpointMax(md) {
              width: 140px;
              padding: 10px 0 0 10px;
              display: none;
              position: absolute;
              top: 110px;
              left: 10px;
              background-color: $white;
              border-radius: 10px;
            }

          }

          &.order-call {
            font-weight: 800;
            color: $green-light;
            border-bottom: 1px solid $green-light;
            cursor: pointer;
          }

          &.dealers {
            font-size: 14px;
            color: $gray-dark;
            @include breakpointMax(md) {
              display: none;
            }
            @include breakpoint(md) {
              @include flexAlignCenter;
              gap: 4px;
            }


            &:hover {
              span {
                color: $green-light;
              }

              svg path {
                stroke: $green-light;
              }
            }
          }
        }
      }

      .header__cart {
        @include breakpointMax(lg) {
          display: none;
        }

        position: relative;
        grid-row: 1/2;
        grid-column: 4/5;
        @include flexAlignCenter;

        .cart-wrapper {
          background-color: $green-light;
          border-radius: 50%;
          width: 44px;
          height: 44px;
          @include flexCenterCenter;

          svg path {
            stroke: $white;
          }
        }

        .cart-count {
          position: absolute;
          width: 25px;
          height: 25px;
          font-size: 12px;
          font-weight: 800;
          color: $black;
          text-align: center;
          background-color: $yellow-light;
          border-radius: 50%;
          bottom: 15px;
          right: 0;

          @include breakpoint(xl) {
            bottom: 20px;
          }
        }
      }
    }


    .header__bar {
      @include flexCenterBetween;
      height: 62px;
      padding: 10px;
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      background: $white;
      box-shadow: 0 -2px 11px 0 rgba(0, 0, 0, 0.07);

      @include breakpoint(md) {
        justify-content: center;
        gap: 40px;
      }

      .header__bar-item {
        width: 63px;

        a {
          @include flexCenterCenter;
          flex-direction: column;
        }


        img {
          width: 24px;
          height: 24px;
        }

        span {
          color: $black;
          font-size: 12px;
        }
      }

      @include breakpoint(lg) {
        display: none;
      }
    }

    .header__search-block {
      order: 3;
      top: 130px;
      width: calc(100% - (var(--container) * 2));

      @include breakpoint(md) {
        top: 170px;
      }


      @include breakpointMax(lg) {
        position: fixed;
        right: -100%;
      }

      @include breakpoint(lg) {
        top: unset;
        width: unset;
      }


      transition: $transition-style;

      &.active {
        right: var(--container);
      }


      .search-block__wrapper form {
        position: relative;
      }

      .search-icon-wrapper {
        position: absolute;
        background-color: $white;
        top: calc(50% - 12px);
        right: 16px;

        svg {
          path {
            stroke: $green-light;
          }
        }
      }

    }

    .header__bar-item {
      @include breakpoint(lg) {
        display: none;
      }
    }

    &.scroll {

      .header__content {
        .header__service {
          display: none;
        }

        @include breakpoint(md) {
          grid-template-columns: 150px auto;
          column-gap: 14px;


          .header__slogan, .header__location, .header__service, .header__contacts .header-contact.dealers {
            display: none;
          }

          .header__logo {
            grid-template-columns: unset;

            @include breakpoint(md) {
              width: 98px;
            }
          }

          .header__contacts {

            border-top: 0;
            padding-top: 0;
            grid-column: 2 / 3;

            .header-contact.rus {
              margin: 0 30px 0 16px;
            }


          }
        }

        @include breakpoint(lg) {
          order: 3;
          grid-template-columns: repeat(2, auto);
          column-gap: 28px;
          grid-column: 3/4;

          &::after {
            display: none;
          }


          .header__logo {
            display: none;
          }
          .header__contacts {
            grid-column: 1/2;

            .header-contact {
              &.rus, &.mos {
                display: none;
              }
            }
          }

          .header__cart {
            grid-column: 2/3;

            .cart-count {
              bottom: -3px;
              right: -5px;
            }
          }
        }

        @include breakpoint(xl) {
          column-gap: 58px;
        }
      }

      .header__search-block {
        top: 100px;
      }

      @include breakpoint(md) {
        .header__search-block {
          top: 80px;
        }
      }

      @include breakpoint(lg) {

        grid-template-columns: 1fr repeat(2, auto);
        justify-content: space-between;
        align-items: center;

        .header__menu-nav {
          order: 1;
        }

        .header__search-block {
          width: 30%;
          top: 90px;
          position: fixed;
          right: -100%;

          transition: $transition-style;

          &.active {
            right: var(--container);
          }


        }

        .header__bar-item {
          display: block;
          width: fit-content;
          order: 2;

          img {
            width: 24px;
            height: 24px;
            filter: brightness(0) saturate(100%) invert(49%) sepia(37%) saturate(617%) hue-rotate(56deg) brightness(98%) contrast(102%);
          }

          span {
            display: none;
          }
        }


      }

      @include breakpoint(xl) {
        grid-template-columns: 72% repeat(2, auto);

        .header__search-block {
          &.active {
            right: calc((100vw - 1400px) / 2);
          }
        }
      }
    }

  }
}

.header__menu, .header__catalog, .header__submenu, .header__category {
  &.active {
    .header-wrapper {
      left: 0;
    }
  }

}

.header__menu {
  &.active {
    .header__menu-nav.main-catalog .menu-nav__list {
      //display: block;
    }
  }

}

.header__bg {
  display: none;
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, .5);
  opacity: 0;
  animation: fadeOut ease-out .2s forwards;
  z-index: 10;

  @include breakpoint(lg) {
    display: none;
  }
}

.common-wrapper {
  overflow-y: auto;
  max-height: calc(100vh - 170px);

  @include breakpointMax(lg) {
    position: relative;
  }

  @include breakpoint(lg) {
    position: absolute;
    top: calc(100% + 20px);
    width: 100%;
    //width: 97%;
    left: -150%;
    transition: all .6s ease-out;

    padding: 20px;
    border-radius: 30px;
    background: $white;
    box-shadow: 4px 4px 4px 0 rgba(47, 48, 63, 0.05);;

    .header__catalog, .header__submenu {

      .menu-nav__catalog .menu-nav__list {
        flex-direction: column;
        align-items: unset;
        padding: 0;
        border-bottom: none;
        border-top: none;

        .list-item {
          padding: 15px 0;
          position: relative;

          a, .link {
            text-decoration: none;
          }

          a img {
            display: flex;
          }

          &.active {
            &::after {
              filter: brightness(0) saturate(100%) invert(60%) sepia(93%) saturate(5631%) hue-rotate(321deg) brightness(104%) contrast(96%);
              transform: rotate(-180deg);
            }
          }
        }

        .list-item ~ .list-item {
          border-top: 1px solid $stroke;
        }


      }

      .header-wrapper {
        width: 100%;
      }

      .header__menu-nav {
        width: 100%;
      }


    }

    .header__category {

      .header-wrapper {
        display: block;
        width: 100%;
      }

      .header__menu-nav .menu-nav__list {
        display: block;
        border: 0;
        column-count: 3;
        gap: 40px;

        .list-item ~ .list-item {
          margin-top: 40px;
          break-inside: avoid;
        }

        .item-subcategories {
          border-top: 0;
        }
      }
    }
  }


}

#menu, #catalog {
  .list-item:not(.contacts) {
    &::after {
      display: block;
      content: "";
      background: url("../images/icon_chevron-right-green.svg") center no-repeat;
      background-size: contain;
      width: 20px;
      height: 20px;
      @include breakpoint(lg) {
        display: none;
      }
    }
  }
}

.header-wrapper {
  width: 100%;
  display: flex;
  background-color: white;
  gap: 20px;

  @include breakpoint(md) {
    width: 367px;
  }

  @include breakpointMax(lg) {
    overflow-y: scroll;
    flex-direction: column;
    padding: 20px var(--container) 10px;
    z-index: 25;
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    transition: all .7s ease;
  }

  &.header__menu-wrapper {
    @include breakpoint(lg) {
      order: 1;
      width: 100%;
      @include flexCenterBetween;
    }

    .header__menu-close {
      margin-left: auto;
      cursor: pointer;
    }


  }

  &.header__catalog-wrapper, &.header__category-wrapper, &.header__submenu-wrapper {
    //gap: 20px;

    .header__menu-title {
      order: 2;
      @include titleGeneral;
      font-size: 20px;

      @include breakpoint(lg) {
        display: none;
      }
    }

    .menu-nav__catalog {
      order: 3;
    }

    .list-item {

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  &.header__category-wrapper {

    .list-item {
      @include breakpointMax(lg) {
        display: grid;
        gap: 15px;
      }

    }

  }

  .header__menu-actions {
    order: 1;

    .menu-action {
      cursor: pointer;
    }

    @include flexCenterBetween;
    @include breakpoint(lg) {
      display: none;
    }

    .header__menu-close {
      width: 40px;
      height: 40px;
      @include flexCenterCenter;
      border-radius: 6px;
      background-color: $green-light;

      &:hover {
        background-color: $green-dark;
      }
    }

    .header__menu-back {
      @include flexAlignCenter;
      gap: 10px;
    }
  }

}

.menu-nav__catalog {
  order: 2;

  .menu-nav__list {

    @include breakpoint(lg) {
      @include flexCenterBetween;
    }

    .list-item {
      position: relative;
      @include flexCenterBetween;
      padding: 12px 0;
      font-weight: 700;
      cursor: pointer;

      &:hover {
        a {
          color: $green-light;
        }
      }

      @include breakpointMax(lg) {
        border-bottom: 1px solid $stroke;

        &:first-child {
          border-top: 1px solid $stroke;
        }
      }

      @include breakpoint(lg) {
        font-size: 15px;
      }

      &.catalog {

        &.btn {
          padding-left: 20px;
          padding-right: 20px;
        }

        a {

          svg {
            &:first-child {
              display: block;
            }

            &:nth-child(2) {
              display: none;
            }

            path {
              stroke: $black;
            }
          }

          /*img{
            &:first-child {
              display: block;
            }

            &:nth-child(2) {
              display: none;
            }
          }*/

          @include breakpointMax(lg) {

          }
          @include breakpoint(lg) {
            svg {
              &:first-child {
                //display: block;
              }

              &:nth-child(2) {
                //display: block;


              }
            }
          }

        }

        &:hover {
          a svg {
            path {
              stroke: $green-light;
            }
          }
        }

        @include breakpoint(lg) {
          &.active {
            a {
              color: $black;

              svg {
                &:first-child {
                  display: none;
                }

                &:nth-child(2) {
                  display: block;
                }

                path {
                  stroke: $black;
                }
              }
            }
          }
        }

      }


      a {
        @include flexAlignCenter;
        gap: 16px;

        svg path {
          stroke: $green-light;
        }

        img {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}

#catalog .menu-nav__list.catalog-list, #submenu .menu-nav__list.submenu-list {
  @include breakpoint(lg) {
    display: block;
    column-count: 3;
    column-gap: 30px;

    .list-item ~ .list-item {
      border-top: 0;
    }


    .list-item {
      flex-direction: column;
      align-items: unset;
      break-inside: avoid;

      &:hover a {
        color: $black;
      }

      // внутренний список, который переместили из #category

      .menu-nav__list {
        margin-top: 20px;

        .list-item ~ .list-item {
          margin-top: 10px;
        }

        .list-item {
          padding: 0;
          font-weight: 400;
          line-height: normal;
          width: 95%;

          &:hover a {
            color: $green-light;
          }
        }

      }
    }
  }
}

#submenu .menu-nav__list.submenu-list {
  @include breakpoint(lg) {
    .list-item {
      &:hover {
        a {
          color: $green-light;
        }
      }
    }
  }
}

// ANIMATIONS
@keyframes fadeOut {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}