---
title: Polywood | О компании
bodyClass: about-page
---

extends includes/_page

block main
    include components/_breadcrumbs
    +breadcrumbs('О компании', 'О компании')
    section.about
        .container
            .about__inner
                .about__inner-content.seo-block
                    .seo-block__inner
                        .seo-block__text
                            p Компания Поливуд основана в 2007 году и занимает лидирующие позиции на рынке материалов и технологий в сфере древесно-полимерных композитов, является производителем террасной доски, сайдинга и ограждений из ДПК.
                            p Обладание авторскими правами на ноу-хау в сфере производства древесно-полимерных композитов, позволяет производить дешевый декинг ДПК под зарегистрированной торговой маркой Polywood.
                            p Основные направления деятельности компании:
                            ul
                                li производство террасной доски ДПК, сайдинга, заборов и декоративных ограждений;
                                li производство и продажа комплектующих и аксессуаров для монтажа террас, ограждений и фасадов;
                                li дизайн и проектирование;
                                li строительные и монтажные работы;
                                li поставка химического сырья для производства ДПК;
                                li производство и продажа гранулы из ДПК по разработанным рецептурам и рецептурам заказчика;
                                li инжиниринг и технологическое сопровождение производства древесно-полимерных композитов;
                                li инновационная деятельность - разработка новых профильных систем и прогрессивных технологий производства ДПК.
                            p С момента основания наша компания ежегодно расширяет региональные торговые сети и увеличивает осведомленность потребителей о новом материале на рынке.
                            p В 2011 году компания Поливуд усовершенствовала технологию производства ДПК и запустила в производство новую террасную доску под торговой маркой POLYSHOLZ™.
                            p В настоящее время, мы являемся официальным стратегическим партнером компаний MEGAWOOD™ и EASYDECK™, расширяет географию партнеров по продаже декинга в России под торговыми марками POLYWOOD™, POLYSHOLZ™, MEGAWOOD™, EASYDECK™ и TWINSON™ и
                                | приглашает всех заинтересованных к сотрудничеству и развитию.

                        .seo-block__image
                            +img('about-1.jpg')
                        .seo-block__image
                            +img('about-2.jpg')

    include components/_faq-products-calculate