---
title: Polywood | Калькулятор
bodyClass: calculator-page
---

extends includes/_page

block main
    include components/_breadcrumbs
    +breadcrumbs('Расчет материалов для строительства террас', 'Расчет материалов для строительства террас')
    section.calculator
        .container
            .calculator__inner
                .calculator__inner-head.section-head
                    .section-head__text.single
                        p С помощью данного калькулятора вы сможете выполнить предварительный расчет необходимого количества материалов для постройки террасы из любой террасной доски.


    section.calculate-step.parameters
        .container
            .calculate-step__inner
                .calculate-step__title
                    p#step-1 <span>1</span>/3
                    p Выберите подходящие параметры
                .calculate-step__wrapper
                    .step-section.config
                        h4 Конфигурация террасы
                        form
                            .form-block.columns
                                .form-row.form-checkbox
                                    .checkbox-style.green-box
                                        .form-image
                                            +img('form-type-rect.svg')
                                        input#form-type-rect(type="checkbox" style="display:none")
                                        label(for="form-type-rect") Прямоугольная
                                .form-row.form-checkbox
                                    .checkbox-style.green-box
                                        .form-image
                                            +img('form-type-g.svg')
                                        input#form-type-g(type="checkbox" style="display:none" checked)
                                        label(for="form-type-g") Г-образная
                            .form-block.columns
                                .form-row
                                    label Длина, мм
                                    input(type="number" name="config-length" data-default='1' data-min='0' data-max='10000000' value='0')
                                .form-row
                                    label Ширина, мм
                                    input(type="number" name="config-width" data-default='1' data-min='0' data-max='10000000' value='0')

                            .form-block.direction
                                .select-label Направления уладки
                                .form-row.sorting-select.calculator-select
                                    .selected-select
                                        span Вдоль
                                        include assets/images/icon_chevron-down.svg
                                    .select-options
                                        .options-wrapper
                                            .option.active Вдоль
                                            .option Поперек
                                            .option Вдоль
                                            .option Поперек

                                .form-row.form-radio
                                    .radiobutton
                                        input(type="radio" checked)
                                        label Поворот слева
                                    .radiobutton
                                        input(type="radio")
                                        label Поворот справа
                            .form-block.columns

                                .form-row
                                    label Длина поворота
                                    input(type="number" name="config-turning-length" data-default='1' data-min='0' data-max='10000000' value='0')
                                .form-row
                                    label Ширина поворота
                                    input(type="number" name="config-turning-width" data-default='1' data-min='0' data-max='10000000' value='0')

                            .form-block
                                .select-label Основание
                                .form-row.sorting-select.calculator-select

                                    .selected-select
                                        span Бетон с уровнем пола до 80 мм
                                        include assets/images/icon_chevron-down.svg
                                    .select-options
                                        .options-wrapper
                                            .option.active Бетон с уровнем пола до 80 мм
                                            .option Бетон с уровнем пола до 100 мм
                                            .option Бетон с уровнем пола до 120 мм
                                            .option Бетон с уровнем пола до 140 мм



                    .step-section.terrace
                        h4 Параметры террасного покрытия
                        form
                            .form-block.columns
                                .form-row
                                    label Ширина доски, мм
                                    input(type="number" name="board-width" data-default='1' data-min='0' data-max='10000000' value="0")
                                .form-row
                                    label Ширина зазора, мм
                                    .counter
                                        .btn-count.btn-subtract
                                            include assets/images/icon_minus.svg
                                        input.counter(type='number' name="gap-width" data-default='1' data-min='0' data-max='10000000' value='0')
                                        .btn-count.btn-add
                                            include assets/images/icon_plus.svg
                            .form-block.equipment
                                .block-title Комплектация
                                .form-row.form-checkbox
                                    .checkbox-style
                                        input#form-equipment-1(type="checkbox" style="display:none")
                                        label(for="form-equipment-1") Использовать алюминиевую лагу
                                .form-row.form-checkbox
                                    .checkbox-style
                                        input#form-equipment-2(type="checkbox" style="display:none" checked)
                                        label(for="form-equipment-2") Учитывая отходы в размере 5%




                    .step-action
                        .btn.btn--yellow
                            span Далее
                            .btn-icon
                                +img('icon_arrow-left.svg')

    section.calculate-step.plans
        .container
            .calculate-step__inner
                .calculate-step__title
                    p#step-2 <span>2</span>/3
                    p Предварительный расчёт материалов для террасы
                .calculate-step__wrapper
                    .step-images
                        .step-image-wrapper
                            .step-image
                                +img('step-image-1.png')
                            span План укладки террасной доски
                        .step-image-wrapper
                            .step-image
                                +img('step-image-2.png')
                            span План укладки алюминиевых лаг

                    .step-total
                        .total-title Итого
                        .total-rows
                            .total-row
                                span Площадь террасы:
                                span.value 60 м2
                            .total-row
                                span Полных рядов доски:
                                span.value <span id="value">39</span>
                            .total-row
                                span Количество досок:
                                span <span class="value">134</span> штуки длиной 3 метра
                            .total-row
                                span Алюминиевые лаги:
                                span.value 228 м
                            .total-row
                                span Клемма начальная:
                                span.value 30 штук
                            .total-row
                                span Клемма основная:
                                span.value 40 штук
                            .total-row
                                span Клемма конечная:
                                span.value 50 штук
                    .step-action
                        a(href='javascript:void(0)' download target="_blank").btn.btn--bordered
                            //.btn-icon
                            include assets/images/icon_download-calc.svg
                            span Скачать в PDF


    section.calculate-step.request
        .container
            .calculate-step__inner
                .calculate-step__title
                    p#step-3 <span>3</span>/3
                    p Оставьте заявку, чтобы получить детальный расчёт
                .calculate-step__wrapper
                    form
                        .form-row
                            input(type="text" name="popup-order-calc_name" placeholder="Имя*")
                        .form-row
                            input.phone-mask(type="tel" name="popup-order-calc_name" placeholder="Телефон*")
                        .form-row
                            input(type="email" name="popup-order-calc_email" placeholder="E-mail")
                        .form-action
                            button.btn.btn--yellow(type="submit" data-src="#popup-success" data-fancybox) Отправить
                            p Нажимая на кнопку, вы соглашаетесь на обработку персональных данных и с публичной офертой




    section.products-list
        .container
            .products-list__inner
                .products-list__inner-head.section-head
                    h2.section-head__title Ознакомьтесь с нашей продукцией
                .products-list__inner-items.general-cards-wrapper

                    a(href='javascript:void(0)').general-card
                        .card-icon
                            +img('icon_timber.svg')
                        .card-text Террасная доска из ДПК
                    a(href='javascript:void(0)').general-card
                        .card-icon
                            +img('icon_fence.svg')
                        .card-text Заборы и ограждения
                    a(href='javascript:void(0)').general-card
                        .card-icon
                            +img('icon_ladder.svg')
                        .card-text Ступени из ДПК
                    a(href='javascript:void(0)').general-card
                        .card-icon
                            +img('icon_siding.svg')
                        .card-text Сайдинг
                    a(href='javascript:void(0)').general-card
                        .card-icon
                            +img('icon_pillar.svg')
                        .card-text Регулируемые опоры
                    a(href='javascript:void(0)').general-card
                        .card-icon
                            +img('icon_shed.svg')
                        .card-text Навесы, перголы, беседки
                    a(href='javascript:void(0)').general-card
                        .card-icon
                            +img('icon_rattan-furniture.svg')
                        .card-text Мебель из искусственного ротанга
                    a(href='javascript:void(0)').general-card
                        .card-icon
                            +img('icon_garden-bed.svg')
                        .card-text Грядки из ДПК
                    a(href='javascript:void(0)').general-card
                        .card-icon
                            +img('icon_components.svg')
                        .card-text Комплектующие
                    a(href='javascript:void(0)').general-card
                        .card-icon
                            +img('icon_tree.svg')
                        .card-text Террасная доска из дерева


    section.calculate.only-options
        .container
            .calculate__inner
                .calculate__inner-options.service-extra-options
                    a(href='javascript:void(0)').service-option
                        .option-image
                            +img('calculate-option-1.jpg')
                        .option-title Бесплатный проект по вашему эскизу
                    a(href='javascript:void(0)').service-option
                        .option-image
                            +img('calculate-option-2.jpg')
                        .option-title Заказать видеоконсультацию (Whatsapp/ Telegram/ Viber)
    section.faq
        .container
            .faq__inner
                .faq__inner-head.section-head
                    h2.section-head__title Ответы на часто задаваемые вопросы
                .faq__items.accordion__items
                    +accordionItem('Какой состав продукции «Polywood»?', 'Lorem ipsum dolor sit amet consectetur. Vulputate convallis condimentum volutpat justo orci iaculis mauris. Enim praesent commodo sagittis aliquam nunc.')
                    +accordionItem('Где применяет декинг?', 'Lorem ipsum dolor sit amet consectetur. Vulputate convallis condimentum volutpat justo orci iaculis mauris. Enim praesent commodo sagittis aliquam nunc.')
                    +accordionItem('Какого цвета бывает?', 'Lorem ipsum dolor sit amet consectetur. Vulputate convallis condimentum volutpat justo orci iaculis mauris. Enim praesent commodo sagittis aliquam nunc.')
                .faq__inner-ask
                    .ask-title Задайте вопрос специалисту
                    .ask-text Менеджеры компании Поливуд ответят на все вопросы, а так же произведут расчет стоимости материалов и услуг для строительства Вашей любимой террасы.
                    .ask-action
                        .btn.btn--yellow(data-src="#popup-ask-question" data-fancybox) Задать вопрос
                .yellow-sticker
                    +img('yellow-sticker.svg')


    section.seo-block
        .container
            .seo-block__inner
                .seo-block__text
                    h2 Для СЕО
                    p Lorem ipsum dolor sit amet consectetur. Vel fusce tempus tempor pharetra fames. Sed tortor mi neque at ac. Dignissim varius aliquam diam duis. Sem pellentesque nisi montes metus risus arcu. Rutrum amet pulvinar a nisi quam at phasellus a placerat. Consectetur vitae habitant in fames sed elementum bibendum eu ipsum.
                    p Lorem ipsum dolor sit amet consectetur. Vel fusce tempus tempor pharetra fames. Sed tortor mi neque at ac. Dignissim varius aliquam diam duis. Sem pellentesque nisi montes metus risus arcu. Rutrum amet pulvinar a nisi quam at phasellus a placerat. Consectetur vitae habitant in fames sed elementum bibendum eu ipsum.
                .seo-block__image
                    +img('hero-bg.jpg')