---
title: Polywood | Документы
bodyClass: docs-page
---

extends includes/_page

block main
    include components/_breadcrumbs
    +breadcrumbs('Документы', 'О компании', ['Документы'])
    section.docs
        .container
            .docs__inner
                .yellow-sticker
                    +img('yellow-sticker.svg')
                .docs__inner-docs-section
                    .docs-title Инструкции
                    .docs__wrapper
                        .docs-group Инструкции Polywood
                        .docs-items
                            a(href='javascript:void(0)' download target="_blank").doc
                                .doc-icon
                                    +img('icon_doc.svg')
                                .doc-info
                                    p.doc-name Террасная доска из ДПК Polywood - технический альбом (инструкция)
                                    p.doc-size 10 Мбайт
                            a(href='javascript:void(0)' download target="_blank").doc
                                .doc-icon
                                    +img('icon_doc.svg')
                                .doc-info
                                    p.doc-name Террасная доска из ДПК Polywood - технический альбом (инструкция)
                                    p.doc-size 10 Мбайт
                            a(href='javascript:void(0)' download target="_blank").doc
                                .doc-icon
                                    +img('icon_doc.svg')
                                .doc-info
                                    p.doc-name Террасная доска из ДПК Polywood - технический альбом (инструкция)
                                    p.doc-size 10 Мбайт
                            a(href='javascript:void(0)' download target="_blank").doc
                                .doc-icon
                                    +img('icon_doc.svg')
                                .doc-info
                                    p.doc-name Террасная доска из ДПК Polywood - технический альбом (инструкция)
                                    p.doc-size 10 Мбайт
                .docs__inner-docs-section
                    .docs-title Каталоги
                    .docs__wrapper
                        .docs-group Каталоги Polywood
                        .docs-items
                            a(href='javascript:void(0)' download target="_blank").doc
                                .doc-icon
                                    +img('icon_doc.svg')
                                .doc-info
                                    p.doc-name Террасная доска из ДПК Polywood - технический альбом (инструкция)
                                    p.doc-size 10 Мбайт
                            a(href='javascript:void(0)' download target="_blank").doc
                                .doc-icon
                                    +img('icon_doc.svg')
                                .doc-info
                                    p.doc-name Террасная доска из ДПК Polywood - технический альбом (инструкция)
                                    p.doc-size 10 Мбайт
                    .docs__wrapper
                        .docs-group Каталоги Polywood
                        .docs-items
                            a(href='javascript:void(0)' download target="_blank").doc
                                .doc-icon
                                    +img('icon_doc.svg')
                                .doc-info
                                    p.doc-name Террасная доска из ДПК Polywood - технический альбом (инструкция)
                                    p.doc-size 10 Мбайт
                            a(href='javascript:void(0)' download target="_blank").doc
                                .doc-icon
                                    +img('icon_doc.svg')
                                .doc-info
                                    p.doc-name Террасная доска из ДПК Polywood - технический альбом (инструкция)
                                    p.doc-size 10 Мбайт

                .docs__inner-docs-section
                    .docs-title Сертификаты
                    .docs__wrapper
                        .docs-group Сертификаты Polywood
                        .docs-items
                            a(href='javascript:void(0)' download target="_blank").doc
                                .doc-icon
                                    +img('icon_doc.svg')
                                .doc-info
                                    p.doc-name Террасная доска из ДПК Polywood - технический альбом (инструкция)
                                    p.doc-size 10 Мбайт
                            a(href='javascript:void(0)' download target="_blank").doc
                                .doc-icon
                                    +img('icon_doc.svg')
                                .doc-info
                                    p.doc-name Террасная доска из ДПК Polywood - технический альбом (инструкция)
                                    p.doc-size 10 Мбайт
                            a(href='javascript:void(0)' download target="_blank").doc
                                .doc-icon
                                    +img('icon_doc.svg')
                                .doc-info
                                    p.doc-name Террасная доска из ДПК Polywood - технический альбом (инструкция)
                                    p.doc-size 10 Мбайт
                            a(href='javascript:void(0)' download target="_blank").doc
                                .doc-icon
                                    +img('icon_doc.svg')
                                .doc-info
                                    p.doc-name Террасная доска из ДПК Polywood - технический альбом (инструкция)
                                    p.doc-size 10 Мбайт
                            a(href='javascript:void(0)' download target="_blank").doc
                                .doc-icon
                                    +img('icon_doc.svg')
                                .doc-info
                                    p.doc-name Террасная доска из ДПК Polywood - технический альбом (инструкция)
                                    p.doc-size 10 Мбайт
                            a(href='javascript:void(0)' download target="_blank").doc
                                .doc-icon
                                    +img('icon_doc.svg')
                                .doc-info
                                    p.doc-name Террасная доска из ДПК Polywood - технический альбом (инструкция)
                                    p.doc-size 10 Мбайт
                            a(href='javascript:void(0)' download target="_blank").doc
                                .doc-icon
                                    +img('icon_doc.svg')
                                .doc-info
                                    p.doc-name Террасная доска из ДПК Polywood - технический альбом (инструкция)
                                    p.doc-size 10 Мбайт


                .docs__inner-docs-section
                    .docs-title Сертификаты
                    .docs__wrapper
                        .docs-group Сертификаты Polywood
                        .docs-items
                            a(href='javascript:void(0)' download target="_blank").doc
                                .doc-icon
                                    +img('icon_doc.svg')
                                .doc-info
                                    p.doc-name Террасная доска из ДПК Polywood - технический альбом (инструкция)
                                    p.doc-size 10 Мбайт



    include components/_faq-products-calculate