---
title: Polywood | Информация
bodyClass: info-page
---

extends includes/_page

block main
    include components/_breadcrumbs
    +breadcrumbs('Информация', 'Информация')
    section.info
        .container
            .info__inner

                .info__inner-head.section-head
                    .yellow-sticker
                        +img('yellow-sticker.svg')
                    .section-head__text.single
                        p За 10 лет со дня образования компания «Поливуд» сумела не только создать инновационный продукт, по качеству превосходящий импортный и более доступный по цене, но и ориентировать сервис на конкретного покупателя.
                        p Для нас каждый заказчик  особенный, а не один из многих.

                .info__inner-content.seo-block
                    .seo-block__inner
                        .seo-block__text
                            h3 Каждый новый заказ - это
                            .text-items
                                .text-item
                                    .item-icon
                                        +img('icon_diamond.svg')
                                    p.item-text Возможность предложить усовершенствованный нашими технологами высококачественный продукт собственного производства;

                                .text-item
                                    .item-icon
                                        +img('icon_idea.svg')
                                    p.item-text Повод проявить настоящее творчество в разработке индивидуального проекта, привязанного к конкретному месту, который придаст ему не похожий на другие стильный облик.
                                .text-item
                                    .item-icon
                                        +img('icon_plan.svg')
                                    p.item-text Возможность показать свое мастерство при реализации дизайн-проекта, которым мы владеем в совершенстве.
                                .text-item
                                    .item-icon
                                        +img('icon_favorite.svg')
                                    p.item-text Желание получить очередную благодарность от довольного клиента и удовлетворение от высокой оценки качества нашего совместного труда.
                            p Мы работаем для потребителей и заказчиков в разных регионах России, чтобы плодами нашей работы, услугами и преимуществами могло воспользоваться как можно большее количество людей. Мы гордимся своими достижениями и
                                |предлагаем разделить их всем, кто ценит эстетику и практичность, присущую инновационным строительным и отделочным материалам.
                        .seo-block__image
                            +img('info-image.jpg')
    include components/_faq-products-calculate