---
title: Polywood | Инструкции
bodyClass: instructions-page
---

extends includes/_page

block main
    include components/_breadcrumbs
    +breadcrumbs('Инструкции', 'Информация', ['Инструкции'])
    section.instructions
        .container
            .instructions__inner
                .instruction__inner-docs.docs__wrapper
                    .docs-items
                        a(href='javascript:void(0)' download target="_blank").doc
                            .doc-icon
                                +img('icon_doc.svg')
                            .doc-info
                                p.doc-name Террасная доска из ДПК Polywood - технический альбом (инструкция)
                                p.doc-size 10 Мбайт
                        a(href='javascript:void(0)' download target="_blank").doc
                            .doc-icon
                                +img('icon_doc.svg')
                            .doc-info
                                p.doc-name Террасная доска из ДПК Polywood - технический альбом (инструкция)
                                p.doc-size 10 Мбайт
                        a(href='javascript:void(0)' download target="_blank").doc
                            .doc-icon
                                +img('icon_doc.svg')
                            .doc-info
                                p.doc-name Террасная доска из ДПК Polywood - технический альбом (инструкция)
                                p.doc-size 10 Мбайт
                        a(href='javascript:void(0)' download target="_blank").doc
                            .doc-icon
                                +img('icon_doc.svg')
                            .doc-info
                                p.doc-name Террасная доска из ДПК Polywood - технический альбом (инструкция)
                                p.doc-size 10 Мбайт

                .instructions__inner-content.seo-block
                    .seo-block__inner
                        .seo-block__text
                            p Древесно-полимерный композит - прочный и долговечный материал. Наша компания наладила собственное производство панелей, досок из дпк и уже более 10 лет мы предлагаем своим клиентам высококачественную продукцию. Мы постоянно совершенствуем технологию, что позволяет сделать цену материалов более выгодной для заказчика, не меняя при этом высокий уровень качества изделий. Также наша компания оказывает услуги монтажа панелей из древесно-полимерного композита.
                            p В данном разделе представлены инструкции по уходу, инструкция по монтажу фасадов и ограждений, инструкция по монтажу террасы. Мы подробно описали шаг за шагом технологию монтажа. Вы сможете изучить принцип сборки систем ограждения, узнать подробнее про финишные работы, прочитать про монтаж сайдинга и установку обрешеток, ознакомиться, для чего необходимо оставлять компенсационные зазоры, как вести отделочные работы при помощи панелей из древесно-полимерного композита и многое другое.
                            p Для того чтобы будущая конструкция, покрытие или настил из дпк не портились и сохраняли свой первоначальный внешний вид на протяжении всего срока службы, необходимо произвести качественный монтаж. Если вы не уверены, что сможете сделать это самостоятельно, тогда рекомендуем обратиться к нашим специалистам. Монтажники с многолетним опытом и сотнями успешно реализованных проектов, в оговоренные сроки выполнят работу.
                        .seo-block__image
                            +img('info-image.jpg')

    include components/_faq-products-calculate