---
title: Polywood | Лицензии и сертификаты
bodyClass: licenses-page
---

extends includes/_page

block main
    include components/_breadcrumbs
    +breadcrumbs('Лицензии и сертификаты', 'О компании', ['Лицензии и сертификаты'])
    section.licenses
        .container
            .licenses__inner
                .yellow-sticker
                    +img('yellow-sticker.svg')

                .licenses__inner-head.section-head
                    h3.section-head__title Лицензии
                    .section-head__text
                        p Группа компаний Поливуд была основана в 2007 году и является одним из ведущих производителей продукции из древесно-полимерного композита (ДПК) в России. Компания уделяет значительное внимание научно-исследовательским работам, постоянно совершенствует состав сырья и технологию производства, чтобы добиться от своей продукции лучших эксплуатационных характеристик среди всех.
                .licenses__inner-items.general-items
                    .general-item
                        .item-image
                            +img('license.jpg')
                        .item-title Свидетельство на товарный знак POLYWOOD™
                        .item-description Сертификат ФИПС № 562348 подтверждает регистрацию торговой марки POLYWOOD™.
                        .item-zoom(data-src="assets/images/license.jpg" data-fancybox)

                    .general-item
                        .item-image
                            +img('license.jpg')
                        .item-title Свидетельство на товарный знак POLYWOOD™
                        .item-zoom(data-src="assets/images/license.jpg" data-fancybox)

                .certificates__inner-head.section-head
                    h3.section-head__title Продукция сертифицирована
                    .section-head__text Компания «Polywood» полностью уверенна в высоком качестве выпускаемой продукции и предоставляет своим потребителям полную гарантию на отсутствие в ДПК тяжелых металлов (свинец, цинк, кадмий, хром, ртуть), галогенов и фенола. Также компания предоставляем 5-летнюю гарантию на заявленные физико-механические характеристики: устойчивость к грибкам и гниению, образование заноз и трещин.
                .certificates__inner-items.general-items
                    .general-item
                        .item-image
                            +img('license.jpg')
                        .item-title Свидетельство на товарный знак POLYWOOD™
                        .item-description Сертификат ФИПС № 562348 подтверждает регистрацию торговой марки POLYWOOD™.
                        .item-zoom(data-src="assets/images/license.jpg" data-fancybox)

                    .general-item
                        .item-image
                            +img('license.jpg')
                        .item-title Свидетельство на товарный знак POLYWOOD™
                        .item-description Сертификат ФИПС № 562348 подтверждает регистрацию торговой марки POLYWOOD™.
                        .item-zoom(data-src="assets/images/license.jpg" data-fancybox)

                    .general-item
                        .item-image
                            +img('license.jpg')
                        .item-title Свидетельство на товарный знак POLYWOOD™
                        .item-description Сертификат ФИПС № 562348 подтверждает регистрацию торговой марки POLYWOOD™.
                        .item-zoom(data-src="assets/images/license.jpg" data-fancybox)

                    .general-item
                        .item-image
                            +img('license.jpg')
                        .item-title Свидетельство на товарный знак POLYWOOD™
                        .item-description Сертификат ФИПС № 562348 подтверждает регистрацию торговой марки POLYWOOD™.
                        .item-zoom(data-src="assets/images/license.jpg" data-fancybox)


                .diplomas__inner-head.section-head
                    h3.section-head__title Дипломы

                .diplomas__inner-items.general-items
                    .general-item
                        .item-image
                            +img('license.jpg')
                        .item-title Свидетельство на товарный знак POLYWOOD™
                        .item-description Сертификат ФИПС № 562348 подтверждает регистрацию торговой марки POLYWOOD™.
                        .item-zoom(data-src="assets/images/license.jpg" data-fancybox)

                    .general-item
                        .item-image
                            +img('license.jpg')
                        .item-title Свидетельство на товарный знак POLYWOOD™
                        .item-description Сертификат ФИПС № 562348 подтверждает регистрацию торговой марки POLYWOOD™.
                        .item-zoom(data-src="assets/images/license.jpg" data-fancybox)

    include components/_faq-products-calculate