---
title: Polywood | Готовые страницы
---

extends includes/_page

block main

    style.
        header, footer {
            display: none;
        }

        ul {
            padding-top: 16px;
            padding-left: 16px;
            list-style: disc;
        }

        ul li {
            margin-bottom: 16px;
            list-style: disc;
        }

        ul li a:visited {
            color: #872bff;
            text-decoration-color: #872bff;
        }

    .container

        #pages
            ul
                li
                    a(target="_blank" href="index.html") Главная
                
                hr
                
                li
                    a(target="_blank" href="about.html") О компании
                    ul
                        li
                            a(target="_blank" href="partners.html") Партнёры
                        li
                            a(target="_blank" href="partnership.html") Сотрудничество
                        li
                            a(target="_blank" href="products-benefits.html") Преимущества продукции
                        li
                            a(target="_blank" href="vacancies.html") Вакансии
                        li
                            a(target="_blank" href="requisites.html") Реквизиты
                        li
                            a(target="_blank" href="clients.html") Наши клиенты
                        li
                            a(target="_blank" href="docs.html") Документы
                        li
                            a(target="_blank" href="licenses.html") Лицензии 

                hr
                
                li
                    a(target="_blank" href="services.html") Услуги
                    ul
                        li
                            a(target="_blank" href="service-detail.html") Услуги (детальная)
                        li
                            a(target="_blank" href="terraces.html") Террасы
                            ul
                                li
                                    a(target="_blank" href="terraces-detail.html") Террасы (детальная)  
                
                hr
                
                li
                    a(target="_blank" href="info.html") Информация
                    ul
                        li
                            a(target="_blank" href="faq.html") Вопрос-ответ
                        li
                            a(target="_blank" href="promos.html") Акции
                            ul
                                li
                                    a(target="_blank" href="promo-detail.html") Акции (детальная)
                                li
                                    a(target="_blank" href="site-map.html") Карта сайта
                        li
                            a(target="_blank" href="payment.html") Оплата
                        li
                            a(target="_blank" href="instructions.html") Инструкции
                
                hr
                
                li
                    a(target="_blank" href="projects.html") Наши проекты
                    ul
                        li
                            a(target="_blank" href="projects-detail.html") Проекты (детальная)
                hr

                li
                    a(target="_blank" href="engineering.html") Инжиниринг
                    ul
                        li
                            a(target="_blank" href="engineering-subcategory.html") Инжиниринг подкатегория
                            ul
                                li
                                    a(target="_blank" href="engineering-detail.html") Инжиниринг (детальная)
                
                hr

                li
                    a(target="_blank" href="news.html") Новости
                    ul
                        li
                            a(target="_blank" href="news-detail.html") Новости (детальная) 

                hr                         
                
                li
                    a(target="_blank" href="articles.html") Статьи
                    ul
                        li
                            a(target="_blank" href="article-detail.html") Статьи (детальная)
                
                hr

                li
                    a(target="_blank" href="catalog.html") Каталог
                    ul
                        li
                            a(target="_blank" href="product-page.html") Страница товара

                hr

                li
                    a(target="_blank" href="calculator.html") Калькулятор

                hr

                li
                    a(target="_blank" href="cart.html") Корзина
                    ul
                        li
                            a(target="_blank" href="order-success.html") Заказ сформирован
                
                hr

                li
                    a(target="_blank" href="prices.html") Прайс-лист
                
                hr

                li
                    a(target="_blank" href="reviews.html") Отзывы
                
                hr

                li
                    a(target="_blank" href="search.html") Поиск
                
                hr

                li
                    a(target="_blank" href="contacts.html") Контакты
                
                hr

                li
                    a(target="_blank" href="404.html") Страница 404