---
title: Polywood | Оплата
bodyClass: engineering-page
---

extends includes/_page

block main
    include components/_breadcrumbs
    +breadcrumbs('Оплата', 'Информация',['Оплата'])
    section.payment-section
        .container
            .payment-section__inner
                .payment-section__inner-head.section-head
                    .section-head__text.single
                        p Выбирайте самый оптимальный способ оплаты покупок продукции от «Поливуд», мы предлагаем несколько удобных вариантов.

                .payment-section__inner-items.general-cards-wrapper
                    a(href='javascript:void(0)').general-card
                        .card-icon
                            +img('icon_payment-transfer.svg')
                        .card-text Банковский перевод
                        .card-description Мы поддерживаем платежи из любых банков: «Сбербанк», «Промсвязьбанк», «Альфа-банк» и многих других известных банковских организаций. Выбирайте самое удобное и близкое к вам отделение и оплачивайте свои заказы в комфортной обстановке.

                    a(href='javascript:void(0)').general-card
                        .card-icon
                            +img('icon_payment-cash.svg')
                        .card-text Наличные платежи
                        .card-description Оплачивайте заказы в офисе компании «Поливуд» в удобное для вас время. Напомним, что способ оплаты предварительно оговаривается с менеджером компании, но, в любом случае, на следующий день после оплаты мы начнем отгрузку товаров.

                    a(href='javascript:void(0)').general-card
                        .card-icon
                            +img('icon_payment-card.svg')
                        .card-text Безналичный расчет
                        .card-description Мы принимаем электронные платежи от Visa и MasterCard, а также банковские карты Maestro. Вы можете воспользоваться платежным терминалом или перевести денежные средства иным способом. Заказывайте товары при помощи специальной электронной формы, представленной на нашем сайте, менеджеры компании подготовят подробный счет на оплату.

    include components/_faq-products-calculate