---
title: Polywood | Прайс-лист
bodyClass: prices-page
---

extends includes/_page

block main
    include components/_breadcrumbs
    +breadcrumbs('Прайс-лист', 'Прайс-лист')
    section.prices.prices-page
        .container
            .prices__inner
                .table
                    .table-row.table-row--head
                        .cell №
                        .cell Наименование
                        .cell Цена, ₽
                        .cell Ед. изм.
                    .table-row
                        .cell 1
                        .cell Тик гладкий 19х145x2000
                        .cell 21 000
                        .cell шт.
                    .table-row
                        .cell 2
                        .cell Тик гладкий 19х145x2000
                        .cell Под заказ
                        .cell шт.
                    .table-row
                        .cell 3
                        .cell Тик гладкий 19х145x2000
                        .cell Под заказ
                        .cell шт.
                    .table-row
                        .cell 4
                        .cell Тик гладкий 19х145x2000
                        .cell Под заказ
                        .cell шт.
                    .table-row
                        .cell 5
                        .cell Тик гладкий 19х145x2000
                        .cell Под заказ
                        .cell шт.
                    .table-row
                        .cell 6
                        .cell Тик гладкий 19х145x2000
                        .cell Под заказ
                        .cell шт.
                    .table-row
                        .cell 7
                        .cell Тик гладкий 19х145x2000
                        .cell Под заказ
                        .cell шт.
                    .table-row
                        .cell 243
                        .cell Тик гладкий 19х145x2000
                        .cell Под заказ
                        .cell шт.

    include components/_faq-products-calculate