---
title: Polywood | Преимущества продукции POLYWOOD
bodyClass: products-benefits-page
---

extends includes/_page

block main
    include components/_breadcrumbs
    +breadcrumbs('Преимущества продукции POLYWOOD', 'О компании', ['Преимущества продукции POLYWOOD'])
    section.products-benefits
        .container
            .products-benefits__inner
                .products-benefits__inner-head.section-head
                    .section-head__title Что такое POLYWOOD™
                    .section-head__text
                        p POLYWOOD™ – это уникальный инновационный материал (древесно-полимерный композит), который позволяетсовмещать в себе такие высоко значимые эксплуатационные характеристики, как: качество, удобство и дизайн.Данные характеристики подтверждаются следующими особенностями древесно-полимерного композита:

                .general-benefits-wrapper.ten-benefits
                    .general-benefits-wrapper__title Десять преимуществ продукции POLYWOOD™
                    .general-benefits-wrapper__items
                        .item
                            .item-icon
                                +img('icon_medal.svg')
                            .item-description Гарантия качества на всю продукцию из ДПК при соблюдении требований к монтажу!
                        .item
                            .item-icon
                                +img('icon_piggybank.svg')
                            .item-description Материал не требует дополнительных эксплуатационных расходов!
                        .item
                            .item-icon
                                +img('icon_barefoot.svg')
                            .item-description Не царапается обувью, не скользит, приятен при хождении по нему босиком и не оставляет заноз!
                        .item
                            .item-icon
                                +img('icon_snowflake.svg')
                            .item-description Устойчив к суровым климатическим условиям!
                        .item
                            .item-icon
                                +img('icon_disease.svg')
                            .item-description Не подвержен воздействию плесени и заражению грибком!
                        .item
                            .item-icon
                                +img('icon_bucket.svg')
                            .item-description Устойчив к химическому воздействию!
                        .item
                            .item-icon
                                +img('icon_heavy.svg')
                            .item-description Выдерживает большие нагрузки!
                        .item
                            .item-icon
                                +img('icon_tools.svg')
                            .item-description Характеризуется легкостью монтажа и демонтажа!
                        .item
                            .item-icon
                                +img('icon_test.svg')
                            .item-description Соответствует всем строительным нормам и стандартам!
                        .item
                            .item-icon
                                +img('icon_eco-friendly.svg')
                            .item-description Абсолютно экологичен!


                    .general-benefits-wrapper__description
                        p Изделия из древесно-полимерного композита (ДПК) по техническим характеристикам соответствуют самым распространённым международным стандартам. Огромный выбор, широкая цветовая гамма, простота при сборке или монтаже делают продукцию «Polywood» предельно универсальной.
                .general-benefits-wrapper.difference
                    .general-benefits-wrapper__title Отличия в пользу POLYWOOD™
                    .yellow-sticker
                        +img('yellow-sticker.svg')
                    .general-benefits-wrapper__items
                        .item
                            .item-icon
                                +img('icon_certificate.svg')
                            .item-description Полная сертификация всей продукции
                        .item
                            .item-icon
                                +img('icon_factory.svg')
                            .item-description Собственная производственная база
                        .item
                            .item-icon
                                +img('icon_lab.svg')
                            .item-description Наличие современной лаборатории
                        .item
                            .item-icon
                                +img('icon_samples.svg')
                            .item-description Собственная подготовка древесного сырья
                        .item
                            .item-icon
                                +img('icon_technology.svg')
                            .item-description Уникальность технологии и рецептуры
                        .item
                            .item-icon
                                +img('icon_bench.svg')
                            .item-description Отдельное производство МАФов
                        .item
                            .item-icon
                                +img('icon_seal.svg')
                            .item-description ОТК входящего сырья
                        .item
                            .item-icon
                                +img('icon_magnifying-glass.svg')
                            .item-description Контроль качества готовой продукции
                        .item
                            .item-icon
                                +img('icon_family.svg')
                            .item-description Гарантии безопасности потребления и экологичность
                        .item
                            .item-icon
                                +img('icon_samples.svg')
                            .item-description Маркировка продукции в соответствии с EAN.


                .general-benefits-wrapper.ten-benefits-extra
                    .general-benefits-wrapper__title Десять преимуществ продукции POLYWOOD™
                    .general-benefits-wrapper__items
                        .item
                            .item-icon 1
                            .item-description В состав продукции, выпускаемой ГК Поливуд входят только качественные полимеры, которые не подвержены деструкции, в отличии от полимеров, бывших в эксплуатации.
                        .item
                            .item-icon 2
                            .item-description Для улучшения эксплуатационных свойств террасной доски, в своем производстве ГК Поливуд применяет древесину хвойных пород, в которой содержится большее количество лигнина, чем в древесине лиственных пород.
                        .item
                            .item-icon 3
                            .item-description Компания разработала универсальный наполнитель, который улучшает характеристики ее продукции. Он увеличивает стойкость материала к грибкам и плесени, значительно снижает водопоглощение. Благодаря этому, продукция POLYWOOD™ имеет более высокие характеристики по сравнению со многими европейскими конкурентами.
                        .item
                            .item-icon 4
                            .item-description Компания занимается инжинирингом. Сюда входит разработка технологий производства высоконаполненных композиционных материалов на основе растительного сырья, а также их внедрение в рамках технологического сопровождения. К постоянной деятельности компании также относятся инновационные разработки прогрессивных технологических процессов, которые позволяют совершенствовать производство ДПК и предлагать Вам еще более качественную продукцию.
                        .item
                            .item-icon 5
                            .item-description Для исследований, разработок и испытаний продукции, компания создала собственную лабораторию, где работают ведущие профессионалы, которые следят за тем, чтобы качество продукции совершенствовалось и находилось на передовом уровне.
                        .item
                            .item-icon 6
                            .item-description Благодаря универсальности профилей, разработанных в Компании "Поливуд", выполненные из них объекты, здания, архитектурные конструкции и формы, получаются завершенными.
                        .item
                            .item-icon 7
                            .item-description На всю свою продукцию ГК Поливуд предоставляет своим потребителям сертификаты соответствия и пожарные сертификаты. Вы всегда будете уверены в том, что приобретаете самый качественный продукт.
                        .item
                            .item-icon 8
                            .item-description Компания может разработать для Вас индивидуальную рецептуру продукции, максимально подходящую для любых эксплуатационных условий, а также любые цветовые решения, совершенно удовлетворяющие Ваши дизайнерские задумки.
                        .item
                            .item-icon 9
                            .item-description ГК Поливуд является лидирующей компанией в своем сегменте, которая может предложить 3D-визуализацию дизайна Вашего будущего объекта, соответствующего всем Вашим требованиям и пожеланиям.
                        .item
                            .item-icon 10
                            .item-description Компания запустила собственную линию производства мебели, изготовленной из древесно-полимерного композита. Мебель POLYWOOD™ выполнена в различных стилях. Возможности изделий из ДПК позволяют выполнить конструкцию мебели даже в классическом стиле, который никогда не теряет свою актуальность.
                .seo-block
                    .seo-block__inner
                        .seo-block__text
                            p Компания Поливуд - одна из немногочисленных российских компаний, которая осуществляет полный цикл производства, от изготовления сырья и профилей, до сборки готовой мебели.
                            p Поскольку рынок ДПК каждый день пополняется конкурентами, ГК Поливуд не стоит на месте и уделяет качеству продукции и уровню обслуживания клиентов огромное внимание.
                            p Цель компания Поливуд – лидирующие позиции на отечественном и европейском рынке производства древесно-полимерного композита и изготовления готовых изделий из ДПК. Уже сегодня компания контролирует большую часть российского рынка, а ее продукция превосходит по всем существенным характеристикам не только отечественные марки, но и западные аналоги. Компанию успешно осуществляет экспорт своей продукции в СНГ и Европу под торговой маркой POLYSHOLZ™.
                            p Для того, чтобы продукция POLYWOOD™ была совершенной, безупречной и высококачественной, компания постоянно занимаемся научно-исследовательскими работами и всё время совершенствует технологии производства.
                            p Эксплуатационные характеристики продукции имеют высочайшие показатели, а для контроля этих показателей компания использует собственную лабораторию, производственную и техническую базу. Продукция POLYWOOD™ ежедневно проходит тщательную проверку и физико-механические испытания.
                        .seo-block__image
                            +img('hero-bg.jpg')
                            .yellow-sticker
                                +img('yellow-sticker.svg')
    include components/_faq-products-calculate