---
title: Polywood | Поиск
bodyClass: search-page
---

extends includes/_page

block main
    include components/_breadcrumbs
    +breadcrumbs('Поиск', 'Поиск')
    section.search
        .container
            .search__inner
                .search__inner-form
                    form
                        input(type="search"  placeholder="Поиск...")
                        button.btn.btn--yellow(type="submit") Поиск

                .search__inner-items
                   .search__inner-item
                        .item-title Террасная доска из ПВХ
                        .item-path.breadcrumbs
                            .breadcrumbs-wrapper
                                .breadcrumbs-item
                                    a(href='javascript:void(0)') Главная
                                .breadcrumbs-item
                                    a(href='javascript:void(0)') Главная
                                .breadcrumbs-item
                                    a(href='javascript:void(0)') Главная
                        .item-preview Палубная доска из ПВХ – относительно простой и экономичный способ, позволяющий создать эстетичный пол террасы или веранды. Отметим, что среди напольных покрытий лидируют не только деревянные, но и пластиковые конструкции, отличающиеся высокой прочностью.

                   .search__inner-item
                        .item-title Террасная доска из ПВХ
                        .item-path.breadcrumbs
                            .breadcrumbs-wrapper
                                .breadcrumbs-item
                                    a(href='javascript:void(0)') Главная
                                .breadcrumbs-item
                                    a(href='javascript:void(0)') Главная
                                .breadcrumbs-item
                                    a(href='javascript:void(0)') Главная
                        .item-preview Палубная доска из ПВХ – относительно простой и экономичный способ, позволяющий создать эстетичный пол террасы или веранды. Отметим, что среди напольных покрытий лидируют не только деревянные, но и пластиковые конструкции, отличающиеся высокой прочностью.

                   .search__inner-item
                        .item-title Террасная доска из ПВХ
                        .item-path.breadcrumbs
                            .breadcrumbs-wrapper
                                .breadcrumbs-item
                                    a(href='javascript:void(0)') Главная
                                .breadcrumbs-item
                                    a(href='javascript:void(0)') Главная
                                .breadcrumbs-item
                                    a(href='javascript:void(0)') Главная
                        .item-preview Палубная доска из ПВХ – относительно простой и экономичный способ, позволяющий создать эстетичный пол террасы или веранды. Отметим, что среди напольных покрытий лидируют не только деревянные, но и пластиковые конструкции, отличающиеся высокой прочностью.
                .search__inner-action.show-more
                    .btn.btn--bordered
                        span Показать ещё
                        include assets/images/icon_arrow-left.svg