---
title: Polywood | Услуги
bodyClass: services-page
---

extends includes/_page

block main
    include components/_breadcrumbs
    +breadcrumbs('Услуги', 'Услуги')
    section.services-section.services-section-page
        .container
            .services-section__inner
                .services-section__inner-items.general-cards-wrapper
                    a(href='javascript:void(0)').general-card
                        .card-icon
                            +img('icon_service-measure.svg')
                        .card-text Замер и расчёт
                    a(href='javascript:void(0)').general-card
                        .card-icon
                            +img('icon_service-design.svg')
                        .card-text Дизайн и проектирование
                    a(href='javascript:void(0)').general-card
                        .card-icon
                            +img('icon_service-brick.svg')
                        .card-text Строительные и монтажные работы
                    a(href='javascript:void(0)').general-card
                        .card-icon
                            +img('icon_service-storage.svg')
                        .card-text Сезонное хранение материалов
                    a(href='javascript:void(0)').general-card
                        .card-icon
                            +img('icon_service-guarantee.svg')
                        .card-text Гарантийное обслуживание
                    a(href='javascript:void(0)').general-card
                        .card-icon
                            +img('icon_service-delivery.svg')
                        .card-text Доставка
                    a(href='javascript:void(0)').general-card
                        .card-icon
                            +img('icon_service-assembly.svg')
                        .card-text Монтаж террасной доски
                    a(href='javascript:void(0)').general-card
                        .card-icon
                            +img('icon_service-production.svg')
                        .card-text Производство террасной доски

    include components/_faq-products-calculate

    section.seo-block
        .container
            .seo-block__inner
                .seo-block__text
                    h2 Для СЕО
                    p Lorem ipsum dolor sit amet consectetur. Vel fusce tempus tempor pharetra fames. Sed tortor mi neque at ac. Dignissim varius aliquam diam duis. Sem pellentesque nisi montes metus risus arcu. Rutrum amet pulvinar a nisi quam at phasellus a placerat. Consectetur vitae habitant in fames sed elementum bibendum eu ipsum.
                    p Lorem ipsum dolor sit amet consectetur. Vel fusce tempus tempor pharetra fames. Sed tortor mi neque at ac. Dignissim varius aliquam diam duis. Sem pellentesque nisi montes metus risus arcu. Rutrum amet pulvinar a nisi quam at phasellus a placerat. Consectetur vitae habitant in fames sed elementum bibendum eu ipsum.
                .seo-block__image
                    +img('hero-bg.jpg')