---
title: Polywood | Услуги детальная
bodyClass: services-detail-page
---

extends includes/_page

block main
    include components/_breadcrumbs
    +breadcrumbs('', 'Услуги', ['Услуги детальная'])
    section.hero.hero-service
        .hero-bg
            +img('service-hero.jpg')
        .container
            .hero__inner
                .yellow-sticker
                    +img('yellow-sticker.svg')
                .hero__inner-info
                    h1 Монтаж террас и веранд
                    p под ключ в Москве от 2100 ₽ за м2

                    .info-action
                        a(data-src="#popup-order-call" data-fancybox).btn.btn--yellow Оставить заявку


                .hero__inner-benefits
                    a(href='javascript:void(0)' target="_blank").benefit
                        +img('icon_benefit-cycle.svg')
                        p Собственное производство
                    a(href='javascript:void(0)' target="_blank").benefit
                        +img('icon_benefit-key.svg')
                        p Работы под ключ
                    a(href='javascript:void(0)' target="_blank").benefit
                        +img('icon_benefit-shield.svg')
                        p Гарантия качества
                    a(href='javascript:void(0)' target="_blank").benefit
                        +img('icon_star-stroke.svg')
                        p Многолетний опыт

    section.prices.service-prices
        .container
            .prices__inner
                .prices__inner-head.section-head
                    h2.section-head__title Прайс на услуги монтажа от “Поливуд”
                .table
                    .table-row.table-row--head
                        .cell Вид услуги
                        .cell Ед. измерения
                        .cell Цена ₽, без НДС
                    .table-row
                        .cell Консультация специалиста
                        .cell м<sup>2</sup>
                        .cell бесплатно
                    .table-row
                        .cell Выезд специалиста
                        .cell м<sup>2</sup>
                        .cell бесплатно
                    .table-row
                        .cell Расчет террасной доски и комплектующих по эскизу заказчика
                        .cell м<sup>2</sup>
                        .cell от 850
                    .table-row
                        .cell Проектирование террасы с полной спецификацией
                        .cell м<sup>2</sup>
                        .cell от 1000
                    .table-row
                        .cell Консультация специалиста
                        .cell м<sup>2</sup>
                        .cell от 1000

    section.seo-block.services
        .container
            .seo-block__inner
                .seo-block__text
                    h2 Наши услуги
                    p Компания «Поливуд» не только продает декинг из композита и регулируемые опоры, позволяющие уложить покрытие из него идеально ровно, но и оказывает услуги по доставке, монтажу террас и других видов уличного настила.
                    p У нас Вы можете заказать:
                    ul
                        li монтаж террасной доски со сдачей готового пола под ключ,
                        li шеф-монтаж, заключающийся в укладке покрытия самим клиентом под контролем специалиста нашей компании. В эту услугу входит профессиональное консультирование, рекомендации, надзор за ходом работ по укладке террасной доски и соблюдением инструкций.

                    p В обоих случаях обязательно учитывается рельеф участка, неровности основания под будущее покрытие, вид подконструкции, способ крепежа, наличие инженерных коммуникаций на участке или их планирование, размеры настила, пожелания заказчика, сроки исполнения работ.
                .seo-block__image
                    +img('services-seo-bg.jpg')
    section.general-form.form-shortcut.calculate
        .container
            .general-form__inner
                h3.general-form__title Рассчитать стоимость террасы
                .general-form__subtitle Менеджеры компании Поливуд ответят на все вопросы, а так же произведут расчет стоимости материалов и услуг для строительства террасы Вашей мечты.

                form
                    .form-action
                        button.btn.btn--yellow(type="submit" data-src="#popup-order-calc" data-fancybox) Рассчитать



    section.seo-block.service-detailed-description
        .container
            .seo-block__inner
                .seo-block__text
                    h2 Технология монтажа террасной доски
                    p Прежде чем начинать монтаж террасной доски необходимо провести специальную процедуру, которая позволит материалу адаптироваться к погодным условиям. Для этого упаковка с досками раскрывается на стройплощадке и материалы “дышат” некоторое время. В процессе укладки используются исключительно коррозионностойкие шурупы для крепежа. Для сборки террасного покрытия необходимо твердое несущее основание, такое как бетон.
                .seo-block__image
                    +img('services-seo-bg.jpg')
                    .yellow-sticker
                        +img('yellow-sticker.svg')
            .seo-block__inner

                .seo-block__text
                    h3 При монтаже террасной доски соблюдайте общие требования:
                    ul
                        li Уклон доски в продольном направлении должен быть не менее 1% (1см на 1 метр погонный),в направлении стока.
                        li Система дренажа или хороший сток должен быть в обязательном порядке предусмотрен под настилом.
                        li Обеспечение под настилом хорошей циркуляции воздуха, даст возможность избежать повышенной влажности.

                    h3 Монтаж террасной доски осуществляется:
                    ul
                        li на ровную бетонную стяжку;
                        li на бетонные опорные балки, которые установлены в грунт на глубину промерзания;
                        li на бетонные плитки, уложенные на песчаную или на гравийную подушку с организованной системой дренажа;
                        li на каркас из металла на сваях с применением лаг.
                .seo-block__image
                    +img('services-seo-bg.jpg')

            .seo-block__inner
                .seo-block__text
                    h3 Компенсационные зазоры
                    p При укладке настила для террасы у всех неподвижных ограничителей, к примеру, около садовых оград, стен зданий, заборов, бордюров, водосточных труб и т. п., обязательно нужно учитывать компенсационные зазоры. Если этого не делать, то покрытие будет портиться, вздуваться, ведь оно “играет” в зависимости от температуры окружающей среды. Соблюдая технологию монтажа, ширина компенсационных зазоров со всех сторон должна составлять не менее 2 сантиметров. Также следует помнить о том, что террасные доски общей шириной, либо общей длиной более 6 метров стоит разделять на участки с общими разделительными швами. Ширина такого разделительного шва составляет минимум 8 – 10 миллиметров.

                    h3 Укладка и крепление
                    ul
                        li на ровную бетонную стяжку;
                        li на бетонные опорные балки, которые установлены в грунт на глубину промерзания;
                        li на бетонные плитки, уложенные на песчаную или на гравийную подушку с организованной системой дренажа;
                        li на каркас из металла на сваях с применением лаг.

                .seo-block__image
                    +img('services-seo-bg.jpg')


    section.portfolio.slider-section
        .container
            .portfolio__inner.slider-section__inner

                .section-head
                    h2.section-head__title Портфолио
                    .swiper-nav
                        .swiper-nav-arrow.swiper-nav-arrow--prev
                            include assets/images/icon_chevron-right-gray.svg
                        .swiper-nav-arrow.swiper-nav-arrow--next
                            include assets/images/icon_chevron-right-gray.svg
                .slider-section__inner-items.portfolio__inner-items
                    .swiper
                        .swiper-wrapper
                            .swiper-slide
                                .slide-item
                                    .slide-item__img
                                        +img('portfolio-1.jpg')
                                    h5.slide-item__title Терраса из доски ДПК POLYWOOD DUO цвет графит в городе Икша
                            .swiper-slide
                                .slide-item
                                    .slide-item__img
                                        +img('portfolio-2.jpg')
                                    h5.slide-item__title Дом в Дмитровском Городском округе

                            .swiper-slide
                                .slide-item
                                    .slide-item__img
                                        +img('portfolio-1.jpg')
                                    h5.slide-item__title Терраса из доски ДПК POLYWOOD DUO цвет графит в городе Икша

                        .swiper-pagination


                .slider-section__inner-action
                    a(href='javascript:void(0)').btn.btn--yellow Все проекты

    section.general-form.form-order-calculate
        .container
            .general-form__inner
                h3.general-form__title Рассчитать стоимость террасы
                .general-form__subtitle Менеджеры компании Поливуд ответят на все вопросы, а так же произведут расчет стоимости материалов и услуг для строительства террасы Вашей мечты.

                form
                    .form-row
                        input(type="text" name="popup-order-calc_name" placeholder="Имя")
                    .form-row
                        input(type="email" name="popup-order-calc_email" placeholder="E-mail")
                    .form-action
                        button.btn.btn--yellow(type="submit" data-src="#popup-order-calc" data-fancybox) Рассчитать
                        p Нажимая на кнопку, вы соглашаетесь на обработку персональных данных и с публичной офертой



    include components/_products-faq-calculate