---
title: Polywood | Карта сайта
bodyClass: site-map-page
---

extends includes/_page

block main
    include components/_breadcrumbs
    +breadcrumbs('Карта сайта', 'Информация',['Карта сайта'])
    section.site-map
        .container
            .site-map__inner
                .site-map__nav-block.nav-block.nav-info
                    .nav-block__head
                        a(href='about.html').nav-block__title О нас
                    ul.nav-block__list
                        li.nav-list__item
                            a(href='docs.html').link.link--black Документы
                        li.nav-list__item
                            a(href='products-benefits.html').link.link--black Преимущества
                        li.nav-list__item
                            a(href='licenses.html').link.link--black Лицензии
                        li.nav-list__item
                            a(href='partners.html').link.link--black Партнёры
                        li.nav-list__item
                            a(href='clients.html').link.link--black Клиенты
                        li.nav-list__item
                            a(href='reviews.html)').link.link--black Отзывы
                        li.nav-list__item
                            a(href='partnership.html').link.link--black Сотрудничество
                        li.nav-list__item
                            a(href='vacancies.html').link.link--black Вакансии
                        li.nav-list__item
                            a(href='requisites.html').link.link--black Реквизиты
                .site-map__nav-block.nav-block.nav-catalog
                    .nav-block__head
                        a(href='catalog.html').nav-block__title Каталог
                    ul.nav-block__list
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black Террасная доска из ДПК
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black Ступени из ДПК
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black Заборы и ограждения
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black Сайдинг ДПК
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black Регулируемые опоры
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black Комплектующие
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black Искусственный ротанг
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black Навесы, перголы, беседки
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black Грядки из ДПК
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black Террасная доска из дерева
                .site-map__nav-block.nav-block.nav-terraces
                    .nav-block__head
                        a(href='terraces.html').nav-block__title Террасы под ключ
                    ul.nav-block__list
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black Для дома и дачи
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black Для ресторана и кафе
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black На кровле и балконе
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black Пирсы и причалы
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black У бассейна

                .site-map__nav-block.nav-block.nav-services
                    .nav-block__head
                        a(href='services.html').nav-block__title Услуги
                    ul.nav-block__list
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black  Замер и расчёты
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black  Дизайн и проектирование
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black  Строительство террасы, веранды
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black  Сезонное хранение материалов
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black  Гарантийное обслуживание
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black  Доставка
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black  Производство террасной доски
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black  Монтаж террасной доски

                .site-map__nav-block.nav-block.nav-projects
                    .nav-block__head
                        a(href='projects.html').nav-block__title Наши проекты
                    ul.nav-block__list
                        li.nav-list__item
                            a(href='javascript:void(0)') Открытые террасы
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black Патио
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black Телепроекты и знаменитости
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black Террасы на крыше дома
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black Дорожки
                        li.nav-list__item
                            a(href='javascript:void(0)') Заборы и ограждения из ДПК
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black Кафе и рестораны
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black Набережные
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black Отделка бассейнов
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black Пирсы и причалы
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black Фасады из ДПК
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black Сайдинг
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black Садовый паркет
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black Парковая мебель

                .site-map__nav-block.nav-block.nav-info
                    .nav-block__head
                        a(href='info.html').nav-block__title Информация
                    ul.nav-block__list
                        li.nav-list__item
                            a(href='promos.html').link.link--black Акции
                        li.nav-list__item
                            a(href='news.html').link.link--black Новости
                        li.nav-list__item
                            a(href='articles.html').link.link--black Статьи
                        li.nav-list__item
                            a(href='faq.html').link.link--black Вопрос-ответ
                        li.nav-list__item
                            a(href='instructions.html').link.link--black Инструкции
                        li.nav-list__item
                            a(href='payment.html').link.link--black Оплата
                .site-map__nav-block.nav-block.nav-services
                    .nav-block__head
                        a(href='prices.html').nav-block__title Прайс-лист

                .site-map__nav-block.nav-block.nav-services
                    .nav-block__head
                        a(href='engineering.html').nav-block__title Инжиниринг
                    ul.nav-block__list
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black Технологическое сопровождение
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black Разбор рекламаций
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black Инновационные технологии
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black Оборудования для производства ДПК
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black Сырьё для производства ДПК
                        li.nav-list__item
                            a(href='javascript:void(0)').link.link--black Коммерческий консалтинг
                .site-map__nav-block.nav-block.nav-services
                    .nav-block__head
                        a(href='contacts.html').nav-block__title Контакты
                .site-map__nav-block.nav-block.nav-services
                    .nav-block__head
                        a(href='site-map.html').nav-block__title Карта сайта