---
title: Polywood | Вакансии
bodyClass: vacancies-page
---

extends includes/_page

block main
    include components/_breadcrumbs
    +breadcrumbs('Вакансии', 'О компании', ['Вакансии'])

    section.vacancies
        .container
            .vacancies__inner
                .yellow-sticker
                    +img('yellow-sticker.svg')
                .vacancies__inner-block
                    .block-title В коммерческий отдел
                    .block-items.accordion__items
                        .accordion__item
                            .accordion__visible
                                .accordion__visible-text
                                    p.job-title Менеджер по продажам
                                    p.salary Зарплата по договорённости
                                .accordion__visible-icon
                                    .plus
                                        +img('icon_plus.svg')
                                    .minus
                                        +img('icon_minus.svg')
                            .accordion__hidden
                                .job-description-block
                                    p.bold Обязанности:
                                    ul
                                        li Консультирование клиентов по ассортименту продукции компании по телефону и в офисе
                                        li Осуществление необходимых базовых расчетов
                                        li Выписка счетов
                                        li Выполнение плана продаж
                                        li Контроль дебиторской задолженности, отчетность
                                        li Оценка эффективности рекламных кампаний
                                .job-description-block
                                    p.bold Требования:
                                    ul
                                        li Консультирование клиентов по ассортименту продукции компании по телефону и в офисе
                                        li Осуществление необходимых базовых расчетов
                                        li Выписка счетов
                                        li Выполнение плана продаж
                                        li Выполнение плана продаж
                                        li Контроль дебиторской задолженности, отчетность
                                        li Оценка эффективности рекламных кампаний
                                .job-description-block
                                    p.bold Условия:
                                    ul
                                        li Консультирование клиентов по ассортименту продукции компании по телефону и в офисе
                                        li Осуществление необходимых базовых расчетов
                                        li Выписка счетов
                                .job-description-action
                                    button.btn.btn--yellow(type="button" data-src="#popup-send-cv" data-fancybox)
                                        span Отправить резюме
                                        +img('icon_arrow-left.svg')
                        .accordion__item
                            .accordion__visible
                                .accordion__visible-text
                                    p.job-title Менеджер по продажам
                                    p.salary Зарплата по договорённости
                                .accordion__visible-icon
                                    .plus
                                        +img('icon_plus.svg')
                                    .minus
                                        +img('icon_minus.svg')
                            .accordion__hidden
                                .job-description-block
                                    p.bold Обязанности:
                                    ul
                                        li Консультирование клиентов по ассортименту продукции компании по телефону и в офисе
                                        li Осуществление необходимых базовых расчетов
                                        li Выписка счетов
                                        li Выполнение плана продаж
                                        li Контроль дебиторской задолженности, отчетность
                                        li Оценка эффективности рекламных кампаний
                                .job-description-block
                                    p.bold Требования:
                                    ul
                                        li Консультирование клиентов по ассортименту продукции компании по телефону и в офисе
                                        li Осуществление необходимых базовых расчетов
                                        li Выписка счетов
                                        li Выполнение плана продаж
                                        li Выполнение плана продаж
                                        li Контроль дебиторской задолженности, отчетность
                                        li Оценка эффективности рекламных кампаний
                                .job-description-block
                                    p.bold Условия:
                                    ul
                                        li Консультирование клиентов по ассортименту продукции компании по телефону и в офисе
                                        li Осуществление необходимых базовых расчетов
                                        li Выписка счетов
                                .job-description-action(data-src="#popup-send-cv" data-fancybox)
                                    button.btn.btn--yellow(type="submit" data-src="#popup-send-cv" data-fancybox)
                                        span Отправить резюме
                                        +img('icon_arrow-left.svg')

                .vacancies__inner-block
                    .block-title В производственный отдел
                    .block-items.accordion__items
                        .accordion__item
                            .accordion__visible
                                .accordion__visible-text
                                    p.job-title Менеджер по продажам
                                    p.salary Зарплата по договорённости
                                .accordion__visible-icon
                                    .plus
                                        +img('icon_plus.svg')
                                    .minus
                                        +img('icon_minus.svg')
                            .accordion__hidden
                                .job-description-block
                                    p.bold Обязанности:
                                    ul
                                        li Консультирование клиентов по ассортименту продукции компании по телефону и в офисе
                                        li Осуществление необходимых базовых расчетов
                                        li Выписка счетов
                                        li Выполнение плана продаж
                                        li Контроль дебиторской задолженности, отчетность
                                        li Оценка эффективности рекламных кампаний
                                .job-description-block
                                    p.bold Требования:
                                    ul
                                        li Консультирование клиентов по ассортименту продукции компании по телефону и в офисе
                                        li Осуществление необходимых базовых расчетов
                                        li Выписка счетов
                                        li Выполнение плана продаж
                                        li Выполнение плана продаж
                                        li Контроль дебиторской задолженности, отчетность
                                        li Оценка эффективности рекламных кампаний
                                .job-description-block
                                    p.bold Условия:
                                    ul
                                        li Консультирование клиентов по ассортименту продукции компании по телефону и в офисе
                                        li Осуществление необходимых базовых расчетов
                                        li Выписка счетов
                                .job-description-action
                                    button.btn.btn--yellow(type="submit" data-src="#popup-send-cv" data-fancybox)
                                        span Отправить резюме
                                        +img('icon_arrow-left.svg')

    include components/_products-faq-calculate